@page
@model CRMYIA.Web.Pages.AssinaturasCartaos
@{
    ViewData["Title"] = "Download";
    ViewData["Pagina"] = "Cartão de Digital e Assinatura de Email";
}
@using CRMYIA.Business.Util;
@{ int i = 0;}
@{ string nomeBtn = "";}

<div id="capa-rede-social">
    <img id="wpp" style="display: none" src="img/marketing/wwpp.png">

    @*<canvas id="canvas" width="300" height="300" />*@
    <!--Inicio do Bloco-->
    @foreach (var Item in Model.ListAssinaturaCartao)
    {
        i++;
        @if (Item.NomeArquivo.Contains("Assinatura"))
            nomeBtn = "Assinatura de Email";
        else
            nomeBtn = "Cartao de Visitas Digital";

        <section class="content">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-12">

                        <div class="card">

                            <div class="card-header">

                                <h4 class="card-title">@Item.Titulo</h4>
                            </div>
                            <div class="card-body filtro-banners">

                                <!--Imagem Inicio-->


                                <div style="text-align: center;">
                                    <button class="btn btn-redesocial btn-filtro-linkedin botao-rede-social" type="button" data-canvas="canvas-linkedin-@Item.IdUsuarioNavigation.IdUsuario-@i" data-img="img-linkedin-@Item.IdUsuarioNavigation.IdUsuario-@i" data-descricao="descricao-linkedin-@Item.IdUsuarioNavigation.IdUsuario-@i" data-usuario="@Model.UsuarioEntity.NomeApelido|@Model.UsuarioEntity.Telefone|@Model.UsuarioEntity.Email" data-toggle="collapse" data-target="#multiCollapseLinkedin-@Item.IdUsuarioNavigation.IdUsuario-@i" aria-expanded="false" aria-controls="multiCollapseLinkedin-@Item.IdUsuarioNavigation.IdUsuario-@i"> &nbsp; @nomeBtn &nbsp; </button>
                                </div>
                                <div class="collapse multi-collapse" id="multiCollapseLinkedin-@Item.IdUsuarioNavigation.IdUsuario-@i">

                                    <div class="p-2 flex-fill bd-highlight">

                                        <div class="material-divulgacao-imagem">

                                            <canvas style="display:none" width="@Item.Width" height="@Item.Height" id="canvas-linkedin-@Item.IdUsuarioNavigation.IdUsuario-@i"> </canvas>
                                            <img style="display: none;" src="@Item.CaminhoArquivo@Item.NomeArquivo" class="img-fluid mb-2" id="img-linkedin-@Item.IdUsuarioNavigation.IdUsuario-@i" alt="white sample" />
                                            <div class="text-center m-2">

                                                <button onclick=download_image("canvas-linkedin-@Item.IdUsuarioNavigation.IdUsuario-@i") type="button" class="btn btn-success m-5">Download</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>



                                <!--Imagem Fim-->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    <!--Fim do Bloco-->

</div>
