@page
@model CRMYIA.Web.Pages.CapasRedeSocial
@{
    ViewData["Title"] = "Capa";
    ViewData["Pagina"] = "Rede Social";
}
@using CRMYIA.Business.Util;

<div id="capa-rede-social">
    <!--Inicio do Bloco-->
    @if (Model.ListCapa.Count() > 0 && Model.ListCapa != null)
    {
        @foreach (var Item in Model.ListCapa)
        {
            <section class="content">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-12">

                            <div class="card">

                                <div class="card-header">
                                    @if (Item.NomeArquivo.Contains("FACEBOOK") == true)
                                    {
                                        <h4 class="card-title">Banner Facebook - @Item.Titulo</h4>
                                    }
                                    else if (Item.NomeArquivo.Contains("LINKEDIN") == true)
                                    {
                                        <h4 class="card-title">Banner Linkedin - @Item.Titulo</h4>
                                    }
                                </div>
                                <div class="card-body filtro-banners">

                                    @if (Item.NomeArquivo.Contains("FACEBOOK") == true)
                                    {
                                        <div style="text-align: center;">
                                            <button class="btn btn-redesocial btn-filtro-facebook botao-rede-social" type="button" data-canvas="canvas-facebook-@Item.Id" data-img="img-facebook-@Item.Id" data-descricao="descricao-facebook-@Item.Id" data-usuario="@Model.UsuarioEntity.Nome|@Model.UsuarioEntity.Telefone|@Model.UsuarioEntity.Email" data-toggle="collapse" data-target="#multiCollapseFacebook-@Item.Id" aria-expanded="false" aria-controls="multiCollapseFacebook-@Item.Id"><i class="fab fa-facebook-f"></i> &nbsp; Banners Facebook &nbsp; <i class="fas fa-chevron-down"></i></button>
                                        </div>
                                        <div class="collapse multi-collapse" id="multiCollapseFacebook-@Item.Id">

                                            <div class="p-2 flex-fill bd-highlight">

                                                <div class="material-divulgacao-imagem-capa">

                                                    <canvas style="display:none" width="@Item.Width" height="@Item.Heighgt" id="canvas-facebook-@Item.Id"> </canvas>
                                                    <img style="display: none;" src="@Item.CaminhoArquivo@Item.NomeArquivo" class="img-fluid mb-2" id="img-facebook-@Item.Id" alt="white sample" />
                                                    <div class="text-center m-2">

                                                        <button data-idcampanha="@Item.IdCampanha" data-elementocanvas="canvas-facebook-@Item.Id" type="button" class="btn btn-success m-5 download">Download</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }

                                    @if (Item.NomeArquivo.Contains("LINKEDIN") == true)
                                    {
                                        <div style="text-align: center;">
                                            <button class="btn btn-redesocial btn-filtro-linkedin botao-rede-social" type="button" data-canvas="canvas-linkedin-@Item.Id" data-img="img-linkedin-@Item.Id" data-descricao="descricao-linkedin-@Item.Id" data-usuario="@Model.UsuarioEntity.Nome|@Model.UsuarioEntity.Telefone|@Model.UsuarioEntity.Email" data-toggle="collapse" data-target="#multiCollapseLinkedin-@Item.Id" aria-expanded="false" aria-controls="multiCollapseLinkedin-@Item.Id"><i class="fab fa-linkedin-in"></i> &nbsp; Banners Linkedin &nbsp; <i class="fas fa-chevron-down"></i></button>
                                        </div>
                                        <div class="collapse multi-collapse" id="multiCollapseLinkedin-@Item.Id">

                                            <div class="p-2 flex-fill bd-highlight">

                                                <div class="material-divulgacao-imagem-capa">

                                                    <canvas style="display:none" width="@Item.Width" height="@Item.Heighgt" id="canvas-linkedin-@Item.Id"> </canvas>
                                                    <img style="display: none;" src="@Item.CaminhoArquivo@Item.NomeArquivo" class="img-fluid mb-2" id="img-linkedin-@Item.Id" alt="white sample" />
                                                    <div class="text-center m-2">

                                                        @*<button onclick=download_image("canvas-linkedin-@Item.Id") type="button" class="btn btn-success m-5">Download</button>*@
                                                        <button data-idcampanha="@Item.IdCampanha" data-elementocanvas="canvas-linkedin-@Item.Id" type="button" class="btn btn-success m-5 download">Download</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }


                                    <!--Imagem Fim-->


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    }
    else
    {
        <div class="jumbotron mt-3">
            <h1 class="text-center"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Não encontramos Capa de Rede Social para essa Campanha.</font></font></h1>
            <p class="lead text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Para mais informações contate o Administrador do Sistema.</font></font></p>
            <!--<a class="btn btn-lg btn-primary" href="/docs/4.6/components/navbar/" role="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Voltar para pagina anterior »</font></font></a>-->
            <div class="d-flex justify-content-around">
                <button type="reset" class="btn btn-lg btn-primary" onclick="javascript:history.go(-1)">Voltar para pagina anterior »</button>
            </div>
        </div>
    }
    <!--Fim do Bloco-->

</div>
