@page
@model CRMYIA.Web.Pages.CapasRedeSocial
@{
    ViewData["Title"] = "Capa";
    ViewData["Pagina"] = "Rede Social";
}
@using CRMYIA.Business.Util;

<div id="capa-rede-social">
    <!--Inicio do Bloco-->
    @foreach (var Item in Model.ListCapa)
     {
        <section class="content">
        
            <div class="container-fluid">
            
                <div class="row">
                
                    <div class="col-12">
                    
                        <div class="card">
                        
                            <div class="card-header">
                                @if (Item.IdRedeSocialNavigation.Nome.ToUpper() == "FACEBOOK")
                                {
                                    <h4 class="card-title">Banner Facebook - @Item.IdCapaNavigation.Titulo</h4>
                                }
                                else if (Item.IdRedeSocialNavigation.Nome.ToUpper() == "LINKEDIN")
                                {
                                    <h4 class="card-title">Banner Linkedin - @Item.IdCapaNavigation.Titulo</h4>
                                }
                            </div>
                            <div class="card-body filtro-banners">

                                       @if (Item.IdRedeSocialNavigation.Nome.ToUpper() == "FACEBOOK")
                                {
                                    <div style="text-align: center;">
                                        <button class="btn btn-redesocial btn-filtro-facebook botao-rede-social" type="button" data-canvas="canvas-facebook-@Item.Id" data-img="img-facebook-@Item.Id" data-descricao="descricao-facebook-@Item.Id" data-usuario="@Model.UsuarioEntity.Nome|@Model.UsuarioEntity.Telefone|@Model.UsuarioEntity.Email" data-toggle="collapse" data-target="#multiCollapseFacebook-@Item.Id" aria-expanded="false" aria-controls="multiCollapseFacebook-@Item.Id"><i class="fab fa-facebook-f"></i> &nbsp; Banners Facebook &nbsp; <i class="fas fa-chevron-down"></i></button>
                                    </div>
                                    <div class="collapse multi-collapse" id="multiCollapseFacebook-@Item.Id">

                                        <div class="p-2 flex-fill bd-highlight">

                                            <div class="material-divulgacao-imagem-capa">

                                                <canvas style="display:none" width="@Item.Width" height="@Item.Heighgt" id="canvas-facebook-@Item.Id"> </canvas>
                                                <img style="display: none;" src="@Item.CaminhoArquivo@Item.NomeArquivo" class="img-fluid mb-2" id="img-facebook-@Item.Id" alt="white sample" />
                                                <div class="text-center m-2">

                                                    <button onclick=download_image("canvas-facebook-@Item.Id") type="button" class="btn btn-success m-5">Download</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                }

                                @if(Item.IdRedeSocialNavigation.Nome.ToUpper() == "LINKEDIN")
                                {
                            <div style="text-align: center;">
                                <button class="btn btn-redesocial btn-filtro-linkedin botao-rede-social" type="button" data-canvas="canvas-linkedin-@Item.Id" data-img="img-linkedin-@Item.Id" data-descricao="descricao-linkedin-@Item.Id" data-usuario="@Model.UsuarioEntity.Nome|@Model.UsuarioEntity.Telefone|@Model.UsuarioEntity.Email" data-toggle="collapse" data-target="#multiCollapseLinkedin-@Item.Id" aria-expanded="false" aria-controls="multiCollapseLinkedin-@Item.Id"><i class="fab fa-linkedin-in"></i> &nbsp; Banners Linkedin &nbsp; <i class="fas fa-chevron-down"></i></button>
                            </div>
                                    <div class="collapse multi-collapse" id="multiCollapseLinkedin-@Item.Id">

                                        <div class="p-2 flex-fill bd-highlight">

                                            <div class="material-divulgacao-imagem-capa">

                                                <canvas style="display:none" width="@Item.Width" height="@Item.Heighgt" id="canvas-linkedin-@Item.Id"> </canvas>
                                                <img style="display: none;" src="@Item.CaminhoArquivo@Item.NomeArquivo" class="img-fluid mb-2" id="img-linkedin-@Item.Id" alt="white sample" />
                                                <div class="text-center m-2">

                                                    <button onclick=download_image("canvas-linkedin-@Item.Id") type="button" class="btn btn-success m-5">Download</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                 }


                                <!--Imagem Fim-->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
     }
    <!--Fim do Bloco-->

</div>
