@page
@model CRMYIA.Web.Pages.FilaListarModel
@{
    ViewData["Title"] = "";
    ViewData["Pagina"] = "Fila do YINDICA";
}
@using CRMYIA.Business.Util;

<div class="row">
    <div class="col-12">
        <!-- Horizontal Form Pesquisa-->
        <section class="content">
            <div class="container-fluid">

                <div class="card card-default">

                    <div class="card-header">
                        <h3 class="card-title">Pesquisar</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        @if ((Model != null) && (Model.Mensagem != null))
                                        {
                                            <div class="@Model.Mensagem.CssClass alert-dismissible">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                <i class="@Model.Mensagem.IconClass"></i>
                                                @Model.Mensagem.Mensagem
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="EnriquecimentoIdFornecedor">Fornecedor</label>
                                        <select class="form-control select2" style="width: 100%;" id="EnriquecimentoIdFornecedor" asp-for="@Model.IdFornecedor">
                                            <option selected="selected" value="0">Selecione...</option>
                                            @foreach (var Item in Model.ListFornecedor)
                                            {
                                                <option value="@Item.IdFornecedor">@Item.Descricao</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="EnriquecimentoIdLayout">Layout de Processamento</label>
                                        <select class="form-control select2" style="width: 100%;" id="EnriquecimentoIdLayout" asp-for="@Model.IdLayout">
                                            <option selected="selected" value="0">Selecione...</option>
                                            @foreach (var Item in Model.ListLayout)
                                            {
                                                <option value="@Item.IdLayout">@Item.Descricao</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">Atualizar Fila</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] @ViewData["Pagina"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <table id="tableFila" class="table table-striped table-hover dt-responsive display datatable" style="width:100%">
                    <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th width="15%">Job</th>
                            <th width="15%">Fornecedor</th>
                            <th width="10%">Layout</th>
                            <th width="10%">Arquivo</th>
                            <th width="10%">Entrada</th>
                            <th width="12%">Processamento</th>
                            <th width="10%">Saída</th>
                            <th width="13%">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListEntity != null && Model.ListEntity.Count() > 0)
                        {

                            foreach (var Item in Model.ListEntity)
                            {
                                <tr>
                                    <td>@(Item.IdFila.ToString("0000"))</td>
                                    <td title="@Item.NomeJob">@(Item.NomeJob.Length > 30 ? Item.NomeJob.Substring(0,30) + "..." : Item.NomeJob)</td>
                                    <td title="@Item.IdFornecedorNavigation.Descricao">@(Item.IdFornecedorNavigation.Descricao.Length > 30 ? Item.IdFornecedorNavigation.Descricao.Substring(0,30) + "..." : Item.IdFornecedorNavigation.Descricao)</td>
                                    <td title="@Item.IdLayoutNavigation.Descricao">@(Item.IdLayoutNavigation.Descricao.Length > 30 ? Item.IdLayoutNavigation.Descricao.Substring(0,30) + "..." : Item.IdLayoutNavigation.Descricao)</td>
                                    <td title="@Item.NomeArquivoEntrada">@(Item.NomeArquivoEntrada.Length > 30 ? Item.NomeArquivoEntrada.Substring(0,30) + "..." : Item.NomeArquivoEntrada)</td>
                                    <td class="text-right">@(string.Format("{0:#,0}", Convert.ToInt64(Item.QtdEntrada)))<br /><small>@Item.DataEntrada.ToString("dd/MM/yyyy HH:mm:ss.fff")</small></td>
                                    <td class="text-right">@(string.Format("{0:#,0}", Convert.ToInt64(Item.QtdProcessado)))<br /><small>@Item.DataProcessamento?.ToString("dd/MM/yyyy HH:mm:ss.fff")</small></td>
                                    <td class="text-right">@(string.Format("{0:#,0}", Convert.ToInt64(Item.QtdSaida)))<br /><small>@Item.DataSaida?.ToString("dd/MM/yyyy HH:mm:ss.fff")</small></td>
                                    <td title="@Item.IdStatusFilaNavigation.ToolTip">
                                        <a asp-page-handler="Download" asp-route-filename="@(Criptography.Encrypt(Item.IdFila.ToString()))" class="@Item.IdStatusFilaNavigation.CssClass">
                                            <i class="@Item.IdStatusFilaNavigation.CssIcon"></i>&nbsp;<strong>@Item.IdStatusFilaNavigation.Descricao</strong>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
