@page
@model IndexSupervisorModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["Pagina"] = "Supervisor";
}
@using CRMYIA.Business.Util;
@{ string nomeCaminho = "img/fotoCadastro/imagem_vazia.png";}
@{ string url = "";}
@{ bool fim = false;}
@{ long? IdCampanha = 0;}

<!-- Info boxes -->
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Propostas e <br /> Seguros Implantados</span>
                <span class="info-box-number" id="ValorPropostasImplantadas">
                    R$ 0,00
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Orçamentos <br />em Negociação</span>
                <span class="info-box-number" id="QtdOrcamentosEmNegociacao">0</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Nº de Corretores<br />Produzindo</span>
                <span class="info-box-number" id="QtdCorretoresProduzindo">0</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Nº de Corretores<br />Inativos</span>
                <span class="info-box-number" id="QtdCorretoresInativos">0</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Produção no Mês</h5>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <div class="btn-group" hidden>
                        <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-wrench"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <a href="#" class="dropdown-item">Action</a>
                            <a href="#" class="dropdown-item">Another action</a>
                            <a href="#" class="dropdown-item">Something else here</a>
                            <a class="dropdown-divider"></a>
                            <a href="#" class="dropdown-item">Separated link</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <p class="text-center">
                            <strong>Vendas: @DateTime.Now.ToString("01 \"de\" MMMM \"de\" yyyy") até @DateTime.Now.ToString("dd \"de\" MMMM \"de\" yyyy")</strong>
                        </p>

                        <div class="chart">
                            <!-- Sales Chart Canvas -->
                            <canvas id="salesChart" height="180" style="height: 180px;"></canvas>
                        </div>
                        <!-- /.chart-responsive -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
                        <p class="text-center">
                            <strong>Produção no Mês</strong>
                        </p>
                        <div id="DivProducaoMes">

                        </div>
                        <!-- /.progress-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- ./card-body -->
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> </span>
                            <h5 class="description-header" id="ValorPlanoSaude">R$ 0,00</h5>
                            <span class="description-text">Produção Saúde</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i> </span>
                            <h5 class="description-header" id="ValorPlanoOdonto">R$ 0,00</h5>
                            <span class="description-text">Plano de Odonto</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> </span>
                            <h5 class="description-header" id="ValorMetaEstipulada">R$ 0,00</h5>
                            <span class="description-text">Meta Estipulada</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-6">
                        <div class="description-block">
                            <span class="description-percentage text-danger"><i class="fas fa-caret-down"></i> </span>
                            <h5 class="description-header" id="QuantidadeCorretoresCadastrados">0</h5>
                            <span class="description-text">Corretores Cadastrados</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <!-- DIRECT CHAT -->
                <div class="card direct-chat direct-chat-warning">
                    <div class="card-header">
                        <h3 class="card-title">Chamados Abertos</h3>
                        <div class="card-tools">
                            <span data-toggle="tooltip" title="3 novas mensagens" class="badge badge-warning" hidden>3</span>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contatos"
                                    data-widget="chat-pane-toggle">
                                <i class="fas fa-comments"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages">
                            <!-- Message. Default to the left -->
                            <!--<div class="direct-chat-msg">
                                <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-left">Corretor 1</span>
                                    <span class="direct-chat-timestamp float-right">@DateTime.Now.AddDays(-1).ToString("dd \"de\" MMM - HH:mm:ss")</span>
                                </div>-->
                            <!-- /.direct-chat-infos -->
                            <!--<img class="direct-chat-img" src="../img/user1-128x128.jpg" alt="message user image">-->
                            <!-- /.direct-chat-img -->
                            <!--<div class="direct-chat-text">
                                Is this template really for free? That's unbelievable!
                            </div>-->
                            <!-- /.direct-chat-text -->
                            <!--</div>-->
                            <!-- /.direct-chat-msg -->
                            <!-- Message to the right -->
                            <!--<div class="direct-chat-msg right">
                                <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-right">Supervisor 1</span>
                                    <span class="direct-chat-timestamp float-left">@DateTime.Now.AddDays(-1).AddMinutes(34).ToString("dd \"de\" MMM - HH:mm:ss")</span>
                                </div>-->
                            <!-- /.direct-chat-infos -->
                            <!--<img class="direct-chat-img" src="../img/user3-128x128.jpg" alt="message user image">-->
                            <!-- /.direct-chat-img -->
                            <!--<div class="direct-chat-text">
                                You better believe it!
                            </div>-->
                            <!-- /.direct-chat-text -->
                            <!--</div>-->
                            <!-- /.direct-chat-msg -->
                            <!-- Message. Default to the left -->
                            <!--<div class="direct-chat-msg">
                                <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-left">Corretor 1</span>
                                    <span class="direct-chat-timestamp float-right">@DateTime.Now.AddDays(-1).AddMinutes(62).ToString("dd \"de\" MMM - HH:mm:ss")</span>
                                </div>-->
                            <!-- /.direct-chat-infos -->
                            <!--<img class="direct-chat-img" src="../img/user1-128x128.jpg" alt="message user image">-->
                            <!-- /.direct-chat-img -->
                            <!--<div class="direct-chat-text">
                                Working with AdminLTE on a great new app! Wanna join?
                            </div>-->
                            <!-- /.direct-chat-text -->
                            <!--</div>-->
                            <!-- /.direct-chat-msg -->
                            <!-- Message to the right -->
                            <!--<div class="direct-chat-msg right">
                                <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-right">Supervisor 1</span>
                                    <span class="direct-chat-timestamp float-left">@DateTime.Now.AddDays(-1).AddMinutes(86).ToString("dd \"de\" MMM - HH:mm:ss")</span>
                                </div>-->
                            <!-- /.direct-chat-infos -->
                            <!--<img class="direct-chat-img" src="../img/user3-128x128.jpg" alt="message user image">-->
                            <!-- /.direct-chat-img -->
                            <!--<div class="direct-chat-text">
                                I would love to.
                            </div>-->
                            <!-- /.direct-chat-text -->
                            <!--</div>-->
                            <!-- /.direct-chat-msg -->

                        </div>
                        <!--/.direct-chat-messages-->
                        <!-- Contacts are loaded here -->
                        <div class="direct-chat-contacts">
                            <ul class="contacts-list">
                                <li>
                                    <a href="#">
                                        <img class="contacts-list-img" src="../img/user1-128x128.jpg">

                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                                                Count Dracula
                                                <small class="contacts-list-date float-right">2/28/2015</small>
                                            </span>
                                            <span class="contacts-list-msg">How have you been? I was...</span>
                                        </div>
                                        <!-- /.contacts-list-info -->
                                    </a>
                                </li>
                                <!-- End Contact Item -->
                                <li>
                                    <a href="#">
                                        <img class="contacts-list-img" src="../img/user7-128x128.jpg">

                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                                                Sarah Doe
                                                <small class="contacts-list-date float-right">2/23/2015</small>
                                            </span>
                                            <span class="contacts-list-msg">I will be waiting for...</span>
                                        </div>
                                        <!-- /.contacts-list-info -->
                                    </a>
                                </li>
                                <!-- End Contact Item -->
                                <li>
                                    <a href="#">
                                        <img class="contacts-list-img" src="../img/user3-128x128.jpg">

                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                                                Nadia Jolie
                                                <small class="contacts-list-date float-right">2/20/2015</small>
                                            </span>
                                            <span class="contacts-list-msg">I'll call you back at...</span>
                                        </div>
                                        <!-- /.contacts-list-info -->
                                    </a>
                                </li>
                                <!-- End Contact Item -->
                                <li>
                                    <a href="#">
                                        <img class="contacts-list-img" src="../img/user5-128x128.jpg">

                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                                                Nora S. Vans
                                                <small class="contacts-list-date float-right">2/10/2015</small>
                                            </span>
                                            <span class="contacts-list-msg">Where is your new...</span>
                                        </div>
                                        <!-- /.contacts-list-info -->
                                    </a>
                                </li>
                                <!-- End Contact Item -->
                                <li>
                                    <a href="#">
                                        <img class="contacts-list-img" src="../img/user6-128x128.jpg">

                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                                                John K.
                                                <small class="contacts-list-date float-right">1/27/2015</small>
                                            </span>
                                            <span class="contacts-list-msg">Can I take a look at...</span>
                                        </div>
                                        <!-- /.contacts-list-info -->
                                    </a>
                                </li>
                                <!-- End Contact Item -->
                                <li>
                                    <a href="#">
                                        <img class="contacts-list-img" src="../img/user8-128x128.jpg">

                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                                                Kenneth M.
                                                <small class="contacts-list-date float-right">1/4/2015</small>
                                            </span>
                                            <span class="contacts-list-msg">Never mind I found...</span>
                                        </div>
                                        <!-- /.contacts-list-info -->
                                    </a>
                                </li>
                                <!-- End Contact Item -->
                            </ul>
                            <!-- /.contacts-list -->
                        </div>
                        <!-- /.direct-chat-pane -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="text" name="message" placeholder="Escrever mensagem ..." class="form-control">
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-warning">Enviar</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!--/.direct-chat -->
            </div>
            <!-- /.col -->

            <div class="col-md-12">
                <!-- USERS LIST -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Campanhas e Marketing</h3>

                        <div class="card-tools">
                            @*<span class="badge badge-danger">8 novas campanhas</span>*@
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <ul class="users-list clearfix">

                            @foreach (var Item in Model.ListaCampanhaArquivo)
                            {

                                if (Item.CampanhaArquivo.Count > 0)
                                {
                                    url = "/Banners";

                                    if (@Item.CaminhoArquivo != null && @Item.NomeArquivo != null)
                                    {
                                        nomeCaminho = Item.CaminhoArquivo + Item.NomeArquivo;
                                    }
                                    else
                                    {
                                        nomeCaminho = "img/fotoCadastro/imagem_vazia.png";
                                    }

                                    <li class="banners" style="width:6.5rem !important;">
                                        <a asp-page="@url" asp-route-id="@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(Item.IdCampanha.ToString()))">
                                            <img src="../@nomeCaminho" alt="Logo - @Item.Descricao" style="border-radius:0 !important;">

                                        </a>
                                        <span class="users-list-date">@Item.Descricao</span>
                                    </li>
                                }
                                else if (Item.Video.Count > 0)
                                {
                                    url = "/Videos";

                                    if (@Item.CaminhoArquivo != null && @Item.NomeArquivo != null)
                                    {
                                        nomeCaminho = Item.CaminhoArquivo + Item.NomeArquivo;
                                    }
                                    else
                                    {
                                        nomeCaminho = "img/fotoCadastro/imagem_vazia.png";
                                    }

                                    <li class="banners" style="width:6.5rem !important;">
                                        <a asp-page="@url" asp-route-id="@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(Item.IdCampanha.ToString()))">
                                            <img src="../@nomeCaminho" alt="Logo - @Item.Descricao" style="border-radius:0 !important;">

                                        </a>
                                        <span class="users-list-date">@Item.Descricao</span>
                                    </li>
                                }
                                else if (Item.CapaRedeSocial.Count > 0)
                                {
                                    url = "/CapasRedeSocial";

                                    var RedeSocial = Item.CapaRedeSocial.ToList();

                                    int tam = RedeSocial.Count();
                                    int i = 0;

                                    foreach (var ItemRedeSocial in RedeSocial)
                                    {


                                        if (IdCampanha != ItemRedeSocial.IdCampanha)
                                        {
                                            IdCampanha = ItemRedeSocial.IdCampanha;
                                            if (@Item.CaminhoArquivo != null && @Item.NomeArquivo != null)
                                            {
                                                nomeCaminho = Item.CaminhoArquivo + Item.NomeArquivo;
                                            }
                                            else
                                            {
                                                nomeCaminho = "img/fotoCadastro/imagem_vazia.png";
                                            }

                                            <li class="banners" style="width:6.5rem !important;">
                                                <a asp-page="@url" asp-route-id="@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(Item.IdCampanha.ToString()))">
                                                    <img src="../@nomeCaminho" alt="Logo - @Item.Descricao" style="border-radius:0 !important;">

                                                </a>
                                                <span class="users-list-date">@Item.Descricao</span>
                                            </li>
                                        }

                                    }
                                }
                                else if (Item.AssinaturaCartao.Count > 0)
                                {
                                    url = "/AssinaturaCartao";

                                    if (@Item.CaminhoArquivo != null && @Item.NomeArquivo != null)
                                    {
                                        nomeCaminho = Item.CaminhoArquivo + Item.NomeArquivo;
                                    }
                                    else
                                    {
                                        nomeCaminho = "img/fotoCadastro/imagem_vazia.png";
                                    }

                                    <li class="banners" style="width:6.5rem !important;">
                                        <a asp-page="@url" asp-route-id="@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(Item.IdCampanha.ToString()))">
                                            <img src="../@nomeCaminho" alt="Logo - @Item.Descricao" style="border-radius:0 !important;">

                                        </a>
                                        <span class="users-list-date">@Item.Descricao</span>
                                    </li>
                                }
                                else if (Item.Banner.Count > 0)
                                {
                                    url = "/OperadoraSeguradora";

                                    if (@Item.CaminhoArquivo != null && @Item.NomeArquivo != null)
                                    {
                                        nomeCaminho = Item.CaminhoArquivo + Item.NomeArquivo;
                                    }
                                    else
                                    {
                                        nomeCaminho = "img/fotoCadastro/imagem_vazia.png";
                                    }

                                    <li class="banners" style="width:6.5rem !important;">
                                        <a asp-page="@url" asp-route-id="@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(Item.IdCampanha.ToString()))">
                                            <img src="../@nomeCaminho" alt="Logo - @Item.Descricao" style="border-radius:0 !important;">

                                        </a>
                                        <span class="users-list-date">@Item.Descricao</span>
                                    </li>
                                }
                            }

                            }

                        </ul>
                        <!-- /.users-list -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer text-center">
                        <a href="/MaterialDivulgacao">Ver todas as Campanhas</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!--/.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- TABLE: LATEST ORDERS -->
        <div class="card">
            <div class="card-header border-transparent">
                <h3 class="card-title">Propostas Pendentes</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                            <tr>
                                <th>Nº da Proposta</th>
                                <th>Operadora/Seguradora</th>
                                <th>Adm</th>
                                <th>Status</th>
                                <th>Data Pendência</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyPropostasPendentes">
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">Ver todas as pendências</a>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->

    <div class="col-md-4">
        <div class="card">
            <div class="card-header border-transparent">
                <h3 class="card-title">Ranking do Corretores</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-0" style="font-size:10px !important;">
                        <thead>
                            <tr>
                                <th width="10%">Posição</th>
                                <th width="40%">Nome</th>
                                <th width="30%">Valor</th>
                                <th width="20%">Nº Vidas</th>
                            </tr>
                        </thead>
                        <tbody id="TBodyRankingCorretores">
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
        <div class="info-box mb-3 bg-success">
            <span class="info-box-icon"><i class="far fa-heart"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Posição no ranking de Supervisores</span>
                <span class="info-box-number" id="PosicaoRanking">0º</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
        <div class="info-box mb-3 bg-info">
            <span class="info-box-icon"><i class="far fa-comment"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Corretores Aniversariantes do mês</span>
                <span class="info-box-number" id="CorretoresAniversariantesMes">0</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Carteira</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="chart-responsive">
                            <canvas id="pieChart" height="150"></canvas>
                        </div>
                        <!-- ./chart-responsive -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
                        <ul class="chart-legend clearfix" id="ulOperadorasMaisVendidas">
                        </ul>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer bg-white p-0">
                <ul class="nav nav-pills flex-column" id="ulOperadoraMaisVendidasValor">
                </ul>
            </div>
            <!-- /.footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->