@page
@model CRMYIA.Web.Pages.KPIGruposModel
@{
    ViewData["Title"] = "";
    ViewData["Pagina"] = "KPIGrupo";
}
@using CRMYIA.Business.Util;
@using CRMYIA.Business;
@using System.Security.Claims;


<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"] @ViewData["Pagina"]</h3>
    </div>
    <!-- /.card-header -->
    <form method="post">
        <div class="card-body">
            <div class="row">
                <p class="text-black text-bold"><u>Dica: Use o botão de rolagem do mouse + SHIFT para navagar para direita e esquerda.</u></p>
                <div class="task-board" style="background-color: #0D47A1">

                    <div class="status-card " style="background-color: #0D47A1">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Perfis</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body" style="display: block;">
                                <span class="card-header-text text-center">
                                    <select class="form-control select2" style="width: 100%;" onchange="this.form.submit()"
                                            asp-for="@Model.IdPerfil" id="IdPerfil" name="IdPerfil">
                                        <option value="0">Selecione um perfil</option>
                                        <option selected="selected" value="1">Gerente</option>
                                        <option value="2">Supervisor</option>
                                        <option value="3">Corretor</option>
                                    </select>
                                </span>

                                <div class="row m-2 text-center">
                                    <button type="button" data-toggle="modal" data-target="#modal-Grupo" class="btn btn-block btn-primary btn-xs">Novo grupo +</button>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>

                        <ul class="sortable ui-sortable" id="Pefis" data-grupo-id="Pefis">
                            @if ((Model.ListPerfil != null) && (Model.ListPerfil.Count > 0))
                            {
                                foreach (var Item in Model.ListPerfil)
                                {
                                    <li class="text-row ui-sortable-handle" data-user-id="@Item.IdUsuario" id="@("id-" + @Item.IdUsuario)">
                                        <div class="card bg-gradient-blue" style="position: relative; left: 0px; top: 0px;">
                                            <div class="card-header border-0 ui-sortable-handle" style="cursor: move;">
                                                <h3 class="card-title">
                                                    <i class="fas fa-th mr-1"></i>
                                                    @Item.Nome.ToString().Substring(0, (@Item.Nome.Length > 20) ? 20 : @Item.Nome.Length)
                                                </h3>

                                                <div class="card-tools mr-2 mb-1">
                                                    <button type="button" class="btn bg-gradient-green btn-sm" data-card-widget="collapse">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <button type="button" class="btn bg-danger btn-sm" data-card-widget="remove">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body p-0 mb-0" style="display: block;">
                                                <div class="card card-widget widget-user mb-0">
                                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                                    <div class="widget-user-header bg-gradient-blue">
                                                        <h3 class="widget-user-username">@Item.DescricaoPerfil</h3>
                                                    </div>
                                                    <div class="widget-user-image">
                                                        <img class="img-circle elevation-2" src="@Item.CaminhoFoto@Item.NomeFoto" alt="@Item.NomeFoto.ToString()">
                                                    </div>
                                                    <div class="card-footer bg-gradient-light">
                                                        <div class="row">
                                                            <div class="col-sm-4 border-right">
                                                                <div class="description-block">
                                                                    <h5 class="description-header">3,200</h5>
                                                                    <span class="description-text">Realizado</span>
                                                                </div>
                                                                <!-- /.description-block -->
                                                            </div>
                                                            <!-- /.col -->
                                                            <div class="col-sm-4 border-right">
                                                                <div class="description-block">
                                                                    <h5 class="description-header">13,000</h5>
                                                                    <span class="description-text">Meta</span>
                                                                </div>
                                                                <!-- /.description-block -->
                                                            </div>
                                                            <!-- /.col -->
                                                            <div class="col-sm-4">
                                                                <div class="description-block">
                                                                    <h5 class="description-header">35</h5>
                                                                    <span class="description-text">Vidas</span>
                                                                </div>
                                                                <!-- /.description-block -->
                                                            </div>
                                                            <!-- /.col -->
                                                        </div>
                                                        <!-- /.row -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="text-row-empty div-blocked" data-grupo-id="0">Nenhum... </li>
                            }
                        </ul>
                    </div>

                    @if (Model.ListKPIGrupo != null)
                    {
                        foreach (var Item in Model.ListKPIGrupo)
                        {
                            <div class="status-card" style="background-color: #4DD0E1">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">@Item.Nome</h3>

                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /.card-tools -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style="display: block;">
                                        <div class="row">
                                            <div class="col-sm-4 border-right">
                                                <div class="description-block">
                                                    <h5 class="description-header">380.200</h5>
                                                    <span class="description-text">Realizado</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4 border-right">
                                                <div class="description-block">
                                                    <h5 class="description-header">1.300.000</h5>
                                                    <span class="description-text">Meta Grupo</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4">
                                                <div class="description-block">
                                                    <h5 class="description-header">99</h5>
                                                    <span class="description-text">Vidas Grupo</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <div class="m-3"></div>
                                        @*<div class="row m-2 text-center">
                                                <label>Editar Meta</label>
                                                <a asp-page="/NovaMeta" asp-route-id="@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(Item.IdKPIGrupo.ToString()))"><i title="Editar Meta" class="fas fa-edit fa-stack-1x"></i></a>
                                            </div>
                                            <div class="row m-2 text-center">
                                                <label>Nova Meta</label>
                                                <a asp-page="/NovaMeta" asp-route-id="@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(Item.IdKPIGrupo.ToString()))"><i title="Nova Meta" class="fas fa-plus fa-stack-1x"></i></a>
                                            </div>*@
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <ul class="sortable ui-sortable" id="@("sort" + Item.IdKPIGrupo)" data-grupo-id="@Item.IdKPIGrupo" id="@Item.IdKPIGrupo">
                                    @if ((Model.ListKPIGrupoUsuario != null) && (Model.ListKPIGrupoUsuario.Count > 0))
                                    {
                                        foreach (var ItemListKPIGrupoUsuario in Model.ListKPIGrupoUsuario)
                                        {
                                            @if (ItemListKPIGrupoUsuario.IdKPIGrupo == Item.IdKPIGrupo)
                                            {
                                                <li class="text-row ui-sortable-handle" data-user-id="@ItemListKPIGrupoUsuario.IdUsuario" id="@("id-" + ItemListKPIGrupoUsuario.IdUsuario)">
                                                    <div class="card bg-gradient-blue" style="position: relative; left: 0px; top: 0px;">
                                                        <div class="card-header border-0 ui-sortable-handle" style="cursor: move;">
                                                            <h3 class="card-title">
                                                                <i class="fas fa-th mr-1"></i>
                                                                @ItemListKPIGrupoUsuario.Nome.ToString().Substring(0, (@ItemListKPIGrupoUsuario.Nome.Length > 20) ? 20 : @ItemListKPIGrupoUsuario.Nome.Length)
                                                            </h3>

                                                            <div class="card-tools mr-2 mb-1">
                                                                <button type="button" class="btn bg-gradient-green btn-sm" data-card-widget="collapse">
                                                                    <i class="fas fa-minus"></i>
                                                                </button>
                                                                <button type="button" class="btn bg-danger btn-sm" data-card-widget="remove">
                                                                    <i class="fas fa-times"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="card-body p-0 mb-0" style="display: block;">
                                                            <div class="card card-widget widget-user mb-0">
                                                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                                                <div class="widget-user-header bg-gradient-blue">
                                                                    <h3 class="widget-user-username">@ItemListKPIGrupoUsuario.Perfil</h3>
                                                                </div>
                                                                <div class="widget-user-image">
                                                                    <img class="img-circle elevation-2" src="@ItemListKPIGrupoUsuario.CaminhoFoto@ItemListKPIGrupoUsuario.NomeFoto" alt="@ItemListKPIGrupoUsuario.NomeFoto.ToString()">
                                                                </div>
                                                                <div class="card-footer bg-gradient-light">
                                                                    <div class="row">
                                                                        <div class="col-sm-4 border-right">
                                                                            <div class="description-block">
                                                                                <h5 class="description-header">3,200</h5>
                                                                                <span class="description-text">Realizado</span>
                                                                            </div>
                                                                            <!-- /.description-block -->
                                                                        </div>
                                                                        <!-- /.col -->
                                                                        <div class="col-sm-4 border-right">
                                                                            <div class="description-block">
                                                                                <h5 class="description-header">13,000</h5>
                                                                                <span class="description-text">Meta</span>
                                                                            </div>
                                                                            <!-- /.description-block -->
                                                                        </div>
                                                                        <!-- /.col -->
                                                                        <div class="col-sm-4">
                                                                            <div class="description-block">
                                                                                <h5 class="description-header">35</h5>
                                                                                <span class="description-text">Vidas</span>
                                                                            </div>
                                                                            <!-- /.description-block -->
                                                                        </div>
                                                                        <!-- /.col -->
                                                                    </div>
                                                                    <!-- /.row -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.card-body -->
                                                    </div>
                                                </li>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <li class="text-row-empty text-center div-blocked" data-grupo-id="0">Ninguém atribuido ao grupo</li>
                                    }
                                </ul>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </form>
</div>



<!-- /.modal Cadastro Grupo -->
<div class="modal fade" id="modal-Grupo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Novo Grupo KPI</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="KPIGrupoMensagemDiv" style="display: none;">
                    <div class="col-sm-12">

                        <div class="form-group">
                            <div class="alert alert-success alert-dismissible" id="KPIGrupoMensagemDivAlert">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
                                <i id="KPIGrupoMensagemIcon" class="icon fas fa-check"></i>
                                <span id="KPIGrupoMensagemSpan">Dados salvos com sucesso!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <form method="post" asp-page="/KPIGrupo" asp-page-handler="KPIGrupo" id="formKPIGrupo">
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" class="form-control" placeholder="Nome" asp-for="@Model.KPIGrupoEntity.Nome">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>Status *</label>
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="customSwitch3" checked asp-for="@Model.KPIGrupoEntity.Ativo">
                                <label class="custom-control-label" for="customSwitch3">Ativo</label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button id="ButtonSalvarKPIGrupo" type="button" class="btn btn-primary">Salvar</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

