@page
@model CRMYIA.Web.Pages.KPIGruposModel
@{ ViewData["Title"] = "";
    ViewData["Pagina"] = "KPIGrupo";
}
@using CRMYIA.Business.Util;
@using CRMYIA.Business;
@using System.Security.Claims;
@{ decimal realizado = 0, valores = 0; int vidas = 0; }

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"] @ViewData["Pagina"]</h3>
    </div>
    <!-- /.card-header -->
    <form method="post" onsubmit="event.preventDefault();">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @if ((Model != null) && (Model.Mensagem != null))
                        {
                            <div class="@Model.Mensagem.CssClass alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="@Model.Mensagem.IconClass"></i>
                                @Model.Mensagem.Mensagem
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="text-black text-bold"><u>Dica: Use o botão de rolagem do mouse + SHIFT para navegar para direita e esquerda.</u></p>
                <div class="task-board" style="background-color: #9E2800">

                    <div class="status-card " style="background-color: #9E2800">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Perfis</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body" style="display: block;">
                                <span class="card-header-text text-center">
                                    <select class="form-control btn-outline-dark" style="width: 100%;" onchange="this.form.submit()"
                                            asp-for="@Model.IdPerfil" id="IdPerfil" name="IdPerfil">
                                        <option value="0">Selecione um perfil</option>
                                        <option selected="selected" value="1">Gerente</option>
                                        <option value="2">Supervisor</option>
                                        <option value="3">Corretor</option>
                                    </select>
                                </span>

                                <div class="row m-2 text-center">
                                    <button type="button" data-toggle="modal" data-target="#modal-Grupo" class="btn btn-block btn-outline-dark btn-xs">Novo grupo +</button>
                                </div>
                                <div class="input-group input-group-sm">
                                    <input class="form-control btn-outline-dark" id="searchKPIGrupo" type="text" placeholder="Nome..." aria-label="Nome">
                                    <div class="input-group-append">
                                        <button type="button" id="btnSearchKPIGrupo" class="btn btn-outline-dark">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <div class="containerLoad">
                            <ul class="sortable ui-sortable TODO" id="Pefis" data-grupo-id="Pefis">
                                @if ((Model.ListPerfil != null) && (Model.ListPerfil.Count > 0))
                                {
                                    foreach (var Item in Model.ListPerfil)
                                    {
                                        <li class="text-row ui-sortable-handle"
                                            data-realizado="0"
                                            data-vidas="0"
                                            data-valores="0"
                                            data-url="/NovaMeta?id=@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(Item.IdUsuario.ToString()))"
                                            data-user-id="@Item.IdUsuario" id="@("id-" + @Item.IdUsuario)">
                                            <div class="card card-color" style="position: relative; left: 0px; top: 0px;">
                                                <div class="card-header border-0 ui-sortable-handle" style="cursor: move;">
                                                    <h3 class="card-title">
                                                        <i class="fas fa-th mr-1"></i>
                                                        @Item.Nome.ToString().Substring(0, (@Item.Nome.Length > 16) ? 16 : @Item.Nome.Length)
                                                    </h3>

                                                    <div class="card-tools mr-2 mb-1">
                                                        <button type="button" class="btn btn-outline-light btn-sm" data-card-widget="collapse">
                                                            <i class="fas fa-minus"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-outline-light btn-sm" data-card-widget="remove">
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="card-body p-0 mb-0" style="display: block;">
                                                    <a href="">
                                                        <div class="card card-widget widget-user mb-0">
                                                            <!-- Add the bg color to the header using any of the bg-* classes -->
                                                            <div class="widget-user-header card-color">
                                                                <h3 class="widget-user-username">@Item.DescricaoPerfil</h3>
                                                            </div>
                                                            <div class="widget-user-image">
                                                                <img class="img-circle elevation-2" src="@Item.CaminhoFoto@Item.NomeFoto" alt="@Item.NomeFoto.ToString()">
                                                            </div>
                                                            <div class="card-footer bg-gradient-light">
                                                                <div class="row">
                                                                    <div class="col-sm-4 border-right">
                                                                        <div class="description-block">
                                                                            <h5 class="description-header">0</h5>
                                                                            <span class="description-text">Realizado</span>
                                                                        </div>
                                                                        <!-- /.description-block -->
                                                                    </div>
                                                                    <!-- /.col -->
                                                                    <div class="col-sm-4 border-right">
                                                                        <div class="description-block">
                                                                            <h5 class="description-header">0</h5>
                                                                            <span class="description-text">Meta</span>
                                                                        </div>
                                                                        <!-- /.description-block -->
                                                                    </div>
                                                                    <!-- /.col -->
                                                                    <div class="col-sm-4">
                                                                        <div class="description-block">
                                                                            <h5 class="description-header">0</h5>
                                                                            <span class="description-text">Vidas</span>
                                                                        </div>
                                                                        <!-- /.description-block -->
                                                                    </div>
                                                                    <!-- /.col -->
                                                                </div>
                                                                <!-- /.row -->
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="naviLoad">
                            <div style="display: none; " class="loader infoiLoad">Loading...</div>
                        </div>
                    </div>

                    @if (Model.ListKPIGrupo != null)
                    {
                        foreach (var Item in Model.ListKPIGrupo)
                        {
                            <div class="status-card" style="background-color: #3E3E3E">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 id="nome-grupo-@Item.IdKPIGrupo" class="card-title">@Item.Nome.Trim()</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /.card-tools -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style="display: block;">
                                        <div  class="row">
                                            <div class="col-sm-6 border-bottom">
                                                <div class="description-block">
                                                    <h5 id="realizado-grupo-@Item.IdKPIGrupo" class="description-header">0</h5>
                                                    <span class="description-text">Realizado</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-6 border-bottom">
                                                <div class="description-block">
                                                    <h5 id="valor-grupo-@Item.IdKPIGrupo" class="description-header">0</h5>
                                                    <span class="description-text">Meta R$ Grupo</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <div class="row mb-n3">
                                            <div class="col-sm-6">
                                                <div class="description-block">
                                                    <h5 id="realizadoVidas-grupo-@Item.IdKPIGrupo" class="description-header">0</h5>
                                                    <span class="description-text">Realizado</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-6">
                                                <div class="description-block">
                                                    <h5 id="vidas-grupo-@Item.IdKPIGrupo" class="description-header">0</h5>
                                                    <span class="description-text">Vidas Grupo</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <ul class="sortable ui-sortable grupo grupo-@Item.IdKPIGrupo" id="@("sort" + Item.IdKPIGrupo)" data-grupo-id="@Item.IdKPIGrupo">
                                    @if ((Model.ListKPIGrupoUsuario != null) && (Model.ListKPIGrupoUsuario.Count > 0))
                                    {
                                        foreach (var ItemListKPIGrupoUsuario in Model.ListKPIGrupoUsuario)
                                        {
                                            @if (ItemListKPIGrupoUsuario.IdKPIGrupo == Item.IdKPIGrupo)
                                            {
                                                @foreach (var itemListRealizado in Model.listAllRealizado)
                                                {
                                                    @foreach (var itemRealizado in itemListRealizado)
                                                    {
                                                        @if (itemRealizado.IdUsuario == ItemListKPIGrupoUsuario.IdUsuario)
                                                        {
                                                            if (itemRealizado.ValorPrevisto != null)
                                                                realizado = realizado + (decimal)itemRealizado.ValorPrevisto;
                                                        }

                                                        @foreach (var itemMeta in ItemListKPIGrupoUsuario.KPIMeta)
                                                        {
                                                            @foreach (var itemValor in itemMeta.KPIMetaValor)
                                                            {
                                                                if (@itemValor.ValorMaximo != null)
                                                                    valores = (decimal)@itemValor.ValorMaximo;
                                                                else
                                                                    valores = 0;
                                                            }
                                                        }
                                                        @foreach (var itemMeta in ItemListKPIGrupoUsuario.KPIMeta)
                                                        {
                                                            @foreach (var itemVida in itemMeta.KPIMetaVida)
                                                            {
                                                                if (itemVida.ValorMaximo != null)
                                                                    vidas = (int)@itemVida.ValorMaximo;
                                                                else
                                                                    vidas = 0;
                                                            }
                                                        }
                                                    }

                                                }

                                                <li class="text-row ui-sortable-handle"
                                                    data-realizado="@realizado"
                                                    data-vidas="@vidas"
                                                    data-valores="@valores"
                                                    data-user-id="@ItemListKPIGrupoUsuario.IdUsuario" id="@("id-" + ItemListKPIGrupoUsuario.IdUsuario)">
                                                    <div class="card card-color" style="position: relative; left: 0px; top: 0px;">
                                                        <div class="card-header border-0 ui-sortable-handle" style="cursor: move;">
                                                            <h3 class="card-title">
                                                                <i class="fas fa-th mr-1"></i>
                                                                @ItemListKPIGrupoUsuario.Nome.ToString().Substring(0, (@ItemListKPIGrupoUsuario.Nome.Length > 16) ? 16 : @ItemListKPIGrupoUsuario.Nome.Length)
                                                            </h3>

                                                            <div class="card-tools mr-2 mb-1">
                                                                <button type="button" class="btn btn-outline-light btn-sm" data-card-widget="collapse">
                                                                    <i class="fas fa-minus"></i>
                                                                </button>
                                                                <button type="button" onclick="ExcluirKPICard(@ItemListKPIGrupoUsuario.IdKPIGrupoUsuario)" class="btn btn-outline-light btn-sm" id="btnRemove-@ItemListKPIGrupoUsuario.IdKPIGrupoUsuario" name="btnRemove-@ItemListKPIGrupoUsuario.IdKPIGrupoUsuario">
                                                                    <i class="fas fa-times"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="card-body p-0 mb-0" style="display: block;">
                                                            <a asp-page="/NovaMeta" asp-route-id="@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(ItemListKPIGrupoUsuario.IdUsuario.ToString()))">
                                                                <div class="card card-widget widget-user mb-0">
                                                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                                                    <div class="widget-user-header card-color">
                                                                        <h3 class="widget-user-username">@ItemListKPIGrupoUsuario.Perfil</h3>
                                                                    </div>
                                                                    <div class="widget-user-image">
                                                                        <img class="img-circle elevation-2" src="@ItemListKPIGrupoUsuario.CaminhoFoto@ItemListKPIGrupoUsuario.NomeFoto" alt="@ItemListKPIGrupoUsuario.NomeFoto.ToString()">
                                                                    </div>
                                                                    <div class="card-footer bg-gradient-light">
                                                                        <div class="row">
                                                                            <div class="col-sm-4 border-right">
                                                                                <div class="description-block">
                                                                                    <h5 class="description-header" style="font-size:12px">@realizado.ToString("C2")</h5>
                                                                                    <span class="description-text">Realizado</span>
                                                                                    @if (true)
                                                                                    {
                                                                                        realizado = 0;
                                                                                    }
                                                                                </div>
                                                                                <!-- /.description-block -->
                                                                            </div>
                                                                            <!-- /.col -->
                                                                            <div class="col-sm-4 border-right">
                                                                                <div class="description-block">
                                                                                    <h5 class="description-header" style="font-size:12px">@valores.ToString("C2")</h5>
                                                                                    <span class="description-text">Meta</span>
                                                                                    @if (true)
                                                                                    {
                                                                                        valores = 0;
                                                                                    }
                                                                                </div>
                                                                                <!-- /.description-block -->
                                                                            </div>
                                                                            <!-- /.col -->
                                                                            <div class="col-sm-4">
                                                                                <div class="description-block">
                                                                                    <h5 class="description-header">@vidas</h5>
                                                                                    <span class="description-text">Vidas</span>
                                                                                    @if (true)
                                                                                    {
                                                                                        vidas = 0;
                                                                                    }
                                                                                </div>
                                                                                <!-- /.description-block -->
                                                                            </div>
                                                                            <!-- /.col -->
                                                                        </div>
                                                                        <!-- /.row -->
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <!-- /.card-body -->
                                                    </div>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </form>
</div>



<!-- /.modal Cadastro Grupo -->
<div class="modal fade" id="modal-Grupo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Novo Grupo KPI</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="KPIGrupoMensagemDiv" style="display: none;">
                    <div class="col-sm-12">

                        <div class="form-group">
                            <div class="alert alert-success alert-dismissible" id="KPIGrupoMensagemDivAlert">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
                                <i id="KPIGrupoMensagemIcon" class="icon fas fa-check"></i>
                                <span id="KPIGrupoMensagemSpan">Dados salvos com sucesso!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <form method="post" asp-page="/KPIGrupo" asp-page-handler="KPIGrupo" id="formKPIGrupo">
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" class="form-control" placeholder="Nome" asp-for="@Model.KPIGrupoEntity.Nome">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>Status *</label>
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="customSwitch3" checked asp-for="@Model.KPIGrupoEntity.Ativo">
                                <label class="custom-control-label" for="customSwitch3">Ativo</label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" onclick="javascript:window.location.href='/KPIGrupo'" data-dismiss="modal">Fechar</button>
                <button id="ButtonSalvarKPIGrupo" type="button" class="btn btn-primary">Salvar</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

