@page
@model CRMYIA.Web.Pages.ListarModuloModel
@{
    ViewData["Title"] = "Listar";
    ViewData["Pagina"] = "Módulo";
}
@using CRMYIA.Business.Util;

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] @ViewData["Pagina"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="tableListagem" class="table table-bordered table-striped datatable">
                    <thead>
                        <tr>
                            <th>Ordem</th>
                            <th>Módulo</th>
                            <th>Mód.Referência</th>
                            <th>Url</th>
                            <th>Estilo</th>
                            <th>ToolTip</th>
                            <th>Cadastro</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListEntity != null && Model.ListEntity.Count() > 0)
                        {
                            foreach (var Item in Model.ListEntity)
                            {
                                <tr>
                                    <td>@Item.Ordem</td>
                                    <td>@Item.Descricao</td>
                                    <td>@(Item.IdModuloReferenciaNavigation == null ? "" : Item.IdModuloReferenciaNavigation.Descricao)</td>
                                    <td>@Item.Url</td>
                                    <td>@Item.CssClass</td>
                                    <td>@Item.ToolTip</td>
                                    <td>@Item.DataCadastro.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                    <td>@(Item.Ativo ? "Ativo" : "Inativo")</td>
                                    <td>
                                        <a asp-page="/NovoModulo" asp-route-id="@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(Item.IdModulo.ToString()))" title="Editar" class="text-info"><i class="icon fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
