@page
@model CRMYIA.Web.Pages.ListarUsuarioModel
@{
    ViewData["Title"] = "Listar";
    ViewData["Pagina"] = "Usuários";
}
@using CRMYIA.Business.Util;

<!-- Horizontal Form Pesquisa-->
<section class="content">
    <div class="container-fluid">

        <div class="card card-default">

            <div class="card-header">
                <h3 class="card-title">Pesquisar</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            @*<input type="hidden" name="IdPerfil" id="IdPerfil" asp-for="@Model.IdOrigem" />
            <input type="hidden" name="ClienteIdUsuario" id="ClienteIdUsuario" asp-for="@Model.IdUsuario" />*@
            <form id="FormPesquisa">
                @Html.AntiForgeryToken()
                <div class="card-body">
                    <input type="hidden" name="IdPerfilUsuario" id="IdPerfilUsuario" value="0" />
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="perfil">Perfil</label>
                                <select class="custom-select select2 visitas-pesquisa" id="IdPerfil" name="IdPerfil">
                                    <option selected="selected">Selecione...</option>
                                    @foreach (var Item in Model.ListPerfilEntity)
                                    {
                                        <option value="@Item.IdPerfil">@(Item.Descricao.ToUpper())</option>
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid state.
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estado">Status</label>
                                <select class="custom-select visitas-pesquisa" id="Ativo" name="Ativo">
                                    <option selected="selected">Selecione...</option>

                                    <option value="1">Ativado</option>
                                    <option value="0">Desativado</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid state.
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Data Cadastro</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right daterange visitas-pesquisa" id="Inicio" name="Inicio">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex justify-content-end">
                        <button class="btn btn-info limpar-pesquisa" type="button">Limpar Pesquisa</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] @ViewData["Pagina"]</h3>
            </div>
            <!-- /.card-header -->
            <div id="tabelaListarUsuario">
                <div class="card-body table-responsive">
                    <table id="tableListagem" class="table table-striped table-hover dt-responsive display nowrap datatable" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th width="10%">Perfil</th>
                                <th width="23%">Nome</th>
                                <th width="10%">Email</th>
                                <th width="15%">Telefone</th>
                                <th width="15%">Cadastro</th>
                                <th width="5%">Status</th>
                                <th width="7%"></th>
                            </tr>
                        </thead>
                        <tbody id="tabelaListarBody">
                            @if (Model.ListEntity != null && Model.ListEntity.Count() > 0)
                            {
                                foreach (var Item in Model.ListEntity)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@(Item.UsuarioPerfil != null && Item.UsuarioPerfil.Count > 0 && Item.UsuarioPerfil.First().IdPerfilNavigation != null ? Item.UsuarioPerfil?.First().IdPerfilNavigation?.Descricao : "")</td>
                                        <td>@Item.Nome</td>
                                        <td>@Item.Email</td>
                                        <td>@Item.Telefone</td>
                                        <td>@Item.DataCadastro.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                        <td>@Html.Raw(Item.Ativo == true ? "<span class=\"badge badge-pill badge-success\">ATIVADO</span>" : "<span class=\"badge badge-pill badge-warning\">DESATIVADO</span>")</td>
                                        <td>
                                            <a asp-page="/NovoUsuario" asp-route-id="@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(Item.IdUsuario.ToString()))" title="Editar" class="text-info"><i class="icon fas fa-edit"></i></a>
                                            <a asp-page="/NovoUsuario" asp-route-id="@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(Item.IdUsuario.ToString()))" title="Vincular Usuários" class="text-info"><i class="icon fas fa-link"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
