@page
@model CRMYIA.Web.Pages.ListarClienteModel
@{
    ViewData["Title"] = "Listar";
    ViewData["Pagina"] = "Clientes (Leads)";
}
@using CRMYIA.Business.Util;

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] @ViewData["Pagina"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="tableListagem" class="table table-bordered table-striped datatable">
                    <thead>
                        <tr>
                            <th width="20%">Nome</th>
                            <th width="10%">Origem</th>
                            <th width="10%">Tipo</th>
                            <th width="20%">Cidade/UF</th>
                            <th width="15%">Cadastro</th>
                            <th width="10%">Status</th>
                            <th width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListEntity != null && Model.ListEntity.Count() > 0)
                        {
                            foreach (var Item in Model.ListEntity)
                            {
                            <tr>
                                <td>@(Item.Nome.Length > 30 ? Item.Nome.Substring(0,30) + "..." : Item.Nome)</td>
                                <td>@Item.IdOrigemNavigation?.Descricao</td>
                                <td>@Item.IdTipoLeadNavigation?.Descricao</td>
                                <td>@(string.Format("{0}-{1}", Item.IdCidadeNavigation.Descricao, Item.IdCidadeNavigation.IdEstadoNavigation.Sigla))</td>
                                <td>@Item.DataCadastro.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                <td>@(Item.Ativo ? "Ativo" : "Inativo")</td>
                                <td>
                                    <a asp-page="/NovoCliente" asp-route-id="@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(Item.IdCliente.ToString()))" title="Editar" class="text-info"><i class="icon fas fa-edit"></i></a>
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
