@page
@model CRMYIA.Web.Pages.ListarCorretorModel
@{ ViewData["Title"] = "Listar";
    ViewData["Pagina"] = "Corretores"; }
@using CRMYIA.Business.Util;
@section Scripts {
    <script src="~/js/sistema/novaMetaGrupo.js"></script>
}
<div class="row">
    <div class="col-12">
        <section class="content">
            <div class="container-fluid">

                <div class="card card-default">

                    <div class="card-header">
                        <h3 class="card-title">Pesquisar</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        @if ((Model != null) && (Model.Mensagem != null))
                                        {
                                            <div class="@Model.Mensagem.CssClass alert-dismissible">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                <i class="@Model.Mensagem.IconClass"></i>
                                                @Model.Mensagem.Mensagem
                                            </div>}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="FindCorretor">Corretor</label>
                                        <input type="text" class="form-control" id="FindCorretor" placeholder="Nome" asp-for="@Model.FindCorretor">
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="IdCorretora">Corretora</label>
                                        <select class="form-control select2" style="width: 100%;" id="IdCorretora" asp-for="@Model.IdCorretora">
                                            <option selected="selected" value="0">Selecione...</option>
                                            @foreach (var Item in Model.ListCorretora)
                                            {
                                                <option value="@Item.IdCorretora">@Item.RazaoSocial</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="Supervisor">Supervisor</label>
                                        <select disabled class="form-control select2" style="width: 100%;" id="Supervisor" asp-for="@Model.IdSupervisor">
                                            <option selected="selected" value="0">Selecione...</option>
                                            @foreach (var Item in Model.ListSupervisor)
                                            {
                                                <option value="@Item.IdUsuario">@Item.Nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="Gerente">Gerente</label>
                                        <select disabled class="form-control select2" style="width: 100%;" id="Gerente" asp-for="@Model.IdGerente">
                                            <option selected="selected" value="0">Selecione...</option>
                                            @foreach (var Item in Model.ListGerente)
                                            {
                                                <option value="@Item.IdUsuario">@Item.Nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Data Inicial</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="date" class="form-control float-right" asp-for="@Model.DataInicial">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Data Final</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="date" class="form-control float-right" asp-for="@Model.DataFinal">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="Status">Status</label>
                                        <select class="form-control select2" style="width: 100%;" id="Status" asp-for="@Model.Status">
                                            <option selected="selected" value="true">Ativos</option>
                                            <option value="false">Inativos</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">Realizar busca</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] @ViewData["Pagina"]</h3>
            </div>
            <div class="card-body table-responsive">
                <table id="tableListagem" class="table table-striped table-hover dt-responsive display nowrap datatable" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th width="20%">Nome</th>
                            <th width="10%">Email</th>
                            <th width="10%">Telefone</th>
                            <th width="15%">Cadastro</th>
                            <th width="10%">Supervisor</th>
                            <th width="10%">Gerente</th>
                            <th width="10%">Última Produção</th>
                            <th width="5%">Status</th>
                            <th width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListEntity != null && Model.ListEntity.Count() > 0)
                        {
                            foreach (var Item in Model.ListEntity)
                            {
                        <tr>
                            <td></td>
                            <td>@Item.Nome</td>
                            <td>@Item.Email</td>
                            <td>@Item.Telefone</td>
                            <td>@Item.DataCadastro.ToString("dd/MM/yyyy HH:mm:ss")</td>
                            <td>@Item.Supervisor</td>
                            <td>@Item.Gerente</td>
                            <td>@Html.Raw(Item.UltimaProducao == null ? Item.UltimaProducao.ToString("dd/MM/yyyy HH:mm:ss") : "<span class='badge badge-pill badge-warning'>Inativo</span>")</td>
                            <td>@Html.Raw(Item.Ativo == true ? "<span class='badge badge-pill badge-success'>ATIVADO</span>" : "<span class='badge badge-pill badge-warning'>DESATIVADO</span>")</td>
                            <td>
                                <a asp-page="/NovoCorretor" asp-route-id="@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(Item.IdUsuario.ToString()))" title="Editar" class="text-info"><i class="icon fas fa-edit"></i></a>
                            </td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
