@page
@model CRMYIA.Web.Pages.ListarNotificacaoModel
@{
    ViewData["Title"] = "Listar";
    ViewData["Pagina"] = "Notificações";
}
@using CRMYIA.Business.Util;
@using CRMYIA.Business;
@using System.Security.Claims;
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] @ViewData["Pagina"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="tableListagem" class="table table-bordered table-striped datatable">
                    <thead>
                        <tr>
                            <th width="40%">Descrição</th>
                            <th width="20%">Visualizado</th>
                            <th width="20%">Cadastro</th>
                            <th width="20%">Url</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListEntity != null && Model.ListEntity.Count() > 0)
                        {
                            foreach (var Item in Model.ListEntity)
                            {
                                <tr>
                                    <td>@Item.Descricao.ToUpper()</td>
                                    <td class="text-center">@Html.Raw(Item.Visualizado == true ? "<span class=\"badge badge-pill badge-success\">VISUALIZADO</span>" : "<span class=\"badge badge-pill badge-warning\">NÃO VISUALIZADO</span>")</td>
                                    <td class="text-center">@Item.DataCadastro.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                    <td class="text-center"><a href="@Html.Raw(Item.Url + "&IdNotificacao=" + System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(Item.IdNotificacao.ToString())))"><i class="fas fa-link"></i></a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
