@page
@model CRMYIA.Web.Pages.ListarTipoLeadModel
@{
    ViewData["Title"] = "Listar";
    ViewData["Pagina"] = "KPI";
}
@using CRMYIA.Business.Util;

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] @ViewData["Pagina"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="tableListagem" class="table table-bordered table-striped datatable">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Meta De</th>
                            <th>Meta Até</th>
                            <th>Cargo</th>
                            <th>Serviço</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListEntity != null && Model.ListEntity.Count() > 0)
                        {
                            foreach (var Item in Model.ListEntity)
                            {
                        <tr>
                            @*<td>@Item.Descricao</td>
                            <td>@Item.MetaDe.Value.ToString("dd/MM/yyyy")</td>
                            <td>@Item.MetaAte.Value.ToString("dd/MM/yyyy")</td>
                            <td>@Item.IdKPICargoNavigation.Cargo</td>
                            <td>@Item.IdKPIServicoNavigation.Perfil</td>
                            <td>@(Item.Ativo ? "Ativo" : "Inativo")</td>
                            <td>
                                <a asp-page="/NovoTipoLead" asp-route-id="@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(Item.IdTipoLead.ToString()))" title="Editar" class="text-info"><i class="icon fas fa-edit"></i></a>
                            </td>*@
                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
