@page
@model CRMYIA.Web.Pages.ListarPropostaModel
@{
    ViewData["Title"] = "Listar";
    ViewData["Pagina"] = "Propostas";
}
@using CRMYIA.Business.Util;

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Legenda</h3>
            </div>
            <div class="card-body">
                <ul class="list-inline">
                    @if (Model.ListFaseProposta != null && Model.ListFaseProposta.Count() > 0)
                    {
                        foreach (var Item in Model.ListFaseProposta)
                        {
                            @*<div class="col-sm-2">
                                <div class="form-group">
                                    <div>@Item.Descricao</div>
                                    <button class="btn" style="background-color: @Item.Cor"></button>
                                </div>
                            </div>*@
                            <li class="list-inline-item font-weight-bold">@Item.Descricao</li>
                            <li class="list-inline-item"><button class="btn" style="background-color: @Item.CorSecundaria"></button></li>
                        }
                    }

                </ul>
            </div>
        </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"] @ViewData["Pagina"]</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive">
                    <table id="tableListagem" class="table table-striped table-hover dt-responsive display nowrap datatable" style="width:100%">
                        <thead>
                            <tr>
                                <th width="10%">Mais</th>
                                <th width="10%">Modalidade</th>
                                <th width="15%">Cliente</th>
                                <th width="20%">Corretor</th>
                                @*<th width="15%">Fase</th>*@
                                <th width="10%">Valor</th>
                                <th width="10%">Usuário</th>
                                @*<th width="10%">Cadastro</th>*@
                                <th width="5%">Status</th>
                                <th width="5%">Cadastrado/Alterado</th>
                                <th width="5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ListEntity != null && Model.ListEntity.Count() > 0)
                            {

                                foreach (var Item in Model.ListEntity)
                                {
                                    //if (Item.UsuarioMasterSlave == false)
                                    //{
                                    //    var id = Item.UsuarioMasterSlave;

                                    //}
                                <tr style="background-color: @Item.Cor">
                                    <td></td>
                                    <td>@(Item.DescricaoModalidade.Length > 30 ? Item.DescricaoModalidade.Substring(0,30) + "..." : Item.DescricaoModalidade)</td>
                                    <td>@(Item.NomeCliente.Length > 30 ? Item.NomeCliente.Substring(0,30) + "..." : Item.NomeCliente)</td>
                                    <td>@(Item.NomeCorretor == null ? "":Item.NomeCorretor.Length > 30 ? Item.NomeCorretor.Substring(0,30) + "..." : Item.NomeCorretor)</td>
                                    @*<td>@(Item.DescricaoFaseProposta.Length > 30 ? Item.DescricaoFaseProposta.Substring(0,30) + "..." : Item.DescricaoFaseProposta)</td>*@
                                    <td>@(string.Format("{0:c2}", Convert.ToDecimal(Item.ValorPrevisto)))</td>
                                    <td>@(Item.NomeUsuario.Length > 30 ? Item.NomeUsuario.Substring(0,30) + "..." : Item.NomeUsuario)</td>
                                    @*<td>@Item.DataCadastro.ToString("dd/MM/yyyy HH:mm:ss")</td>*@
                                    <td>@(Item.DescricaoStatusProposta.Length > 30 ? Item.DescricaoStatusProposta.Substring(0,30) + "..." : Item.DescricaoStatusProposta)</td>
                                    <td>Por: @(Item.NomeHistoricoProposta), em @Item.DataCadastro.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                    <td>
                                        <a asp-page="/NovaProposta" asp-route-id="@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(Item.IdProposta.ToString()))" title="Editar" class="text-info"><i class="icon fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
