@page "{url?}"
@model CRMYIA.Web.Pages.MaterialDivulgacaoModel
@{
    ViewData["Title"] = "Material De Divulgação";
    ViewData["Pagina"] = "Marketing";
}
@using CRMYIA.Business.Util;

<div id="campanhas">

</div>
@*<div class="row">
    <div class="col-12">
        <div class="card">
            @if (Model.ListCampanhaArquivo != null && Model.ListCampanhaArquivo.Count() > 0 && Model.ListCampanha != null && Model.ListCampanha.Count() > 0)
            {
                foreach (var ItemCampanha in Model.ListCampanha)
                {
                    <div class="card-header">
                        <h4 class="card-title">@ItemCampanha.Descricao</h4>
                    </div>
                    <div class="card-body" style="margin-bottom: 30px!important;">
                        <div>
                            <div class="filter-container p-0 row">
                                @if (@ItemCampanha.IdCampanha == @ItemCampanha.IdCampanha)
                                    foreach (var ItemCampanhaArquivo in Model.ListCampanhaArquivo)
                                    {

                                        @if (@ItemCampanha.IdCampanha == @ItemCampanhaArquivo.IdCampanha)
                                        {
                                            string[] NomeArquivo = ItemCampanhaArquivo.NomeArquivo.Split('|');
                                            foreach (var Item in NomeArquivo)
                                            {
                                                <div class="filtr-item col-sm-2" style="width: 165px!important; height: 165px!important; padding-bottom: 2px!important;" data-category="1" data-sort="white sample">
                                                    <a href="@("ArquivoCampanha/" + Item)" data-toggle="lightbox" data-title="@ItemCampanhaArquivo.IdCampanhaNavigation?.Descricao">
                                                        <img src="@("ArquivoCampanha/" + Item)" data-descricao="@ItemCampanhaArquivo.Descricao" data-caminho="@("ArquivoCampanha/" + ItemCampanhaArquivo.NomeArquivo)" class="img-fluid mb-2" alt="@ItemCampanhaArquivo.NomeArquivo" />
                                                    </a>
                                                </div>
                                            }
                                        }

                                    }
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                @if (@Model.ListCampanhaArquivo.Count > 0)
                {
                    <div class="card-header">
                        <h4 class="card-title">@Model.ListCampanhaArquivo[0].IdCampanhaNavigation.Descricao</h4>
                    </div>
                    <div class="card-body" style="margin-bottom: 30px!important;">
                        <div>
                            <div class="filter-container p-0 row">
                                @if (true)
                                    foreach (var ItemCampanhaArquivo in Model.ListCampanhaArquivo)
                                    {
                                        string[] NomeArquivo = ItemCampanhaArquivo.NomeArquivo.Split('|');
                                        foreach (var Item in NomeArquivo)
                                        {
                                            <div class="filtr-item col-sm-2" style="width: 165px!important; height: 165px!important; padding-bottom: 2px!important;" data-category="1" data-sort="white sample">
                                                <a href="@("ArquivoCampanha/" + Item)" data-toggle="lightbox" data-title="@ItemCampanhaArquivo.IdCampanhaNavigation?.Descricao">
                                                    <img src="@("ArquivoCampanha/" + Item)" data-descricao="@ItemCampanhaArquivo.Descricao" data-caminho="@("ArquivoCampanha/" + ItemCampanhaArquivo.NomeArquivo)" class="img-fluid mb-2" alt="@ItemCampanhaArquivo.NomeArquivo" />
                                                </a>
                                            </div>
                                        }
                                    }
                            </div>
                        </div>


                    </div>
                }
            }
        </div>
    </div>
</div>*@