@page
@model CRMYIA.Web.Pages.NovoKPICargo
@{
    ViewData["Title"] = "Novo";
    ViewData["Pagina"] = "KPICargo";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"] @ViewData["Pagina"]</h3>
    </div>
    <!-- /.card-header -->
    <form  method="post">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @if ((Model != null) && (Model.Mensagem != null))
                        {
                            <div class="@Model.Mensagem.CssClass alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="@Model.Mensagem.IconClass"></i>
                                @Model.Mensagem.Mensagem
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <input type="hidden" class="form-control" asp-for="@Model.Entity.IdKPICargo">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Cargo</label>
                        <input type="text" class="form-control" placeholder="Cargo" required asp-for="@Model.Entity.Cargo">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Descrição</label>
                        <input type="text" class="form-control" placeholder="Descrição" required asp-for="@Model.Entity.Descricao">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Status</label>
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                            <input type="checkbox" class="custom-control-input" id="customSwitch3" checked asp-for="@Model.Entity.Ativo">
                            <label class="custom-control-label" for="customSwitch3">Ativo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">Salvar</button>
            <button type="reset" class="btn btn-default" onclick="javascript:history.go(-1)">Voltar</button>
        </div>
    </form>
</div>