@page
@model CRMYIA.Web.Pages.TarefaModel
@{
    ViewData["Title"] = "";
    ViewData["Pagina"] = "Funil de Vendas";
}
@using CRMYIA.Business.Util;
@using CRMYIA.Business;
@using System.Security.Claims;
@using CRMYIA.Data.Entities;

@{ 
    byte? perfilUsuarioAtual = UsuarioModel.GetPerfil(HttpContext.User.FindFirst(ClaimTypes.PrimarySid).Value.ExtractLong());
    byte colSmNum = perfilUsuarioAtual < 4 ? (byte) 3 : (byte) 6;
}

<!-- Horizontal Form Pesquisa-->
<section class="content">
    <div class="container-fluid">

        <div class="card card-default">

            <div class="card-header">
                <h3 class="card-title">Pesquisar</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form id="FormPesquisa">
                <div class="card-body">
                    <div class="row">
                        <!-- Input comum a todos os usuários-->
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
                            <div class="form-group">
                                <label>Operadora</label>
                                <select class="form-control select2" style="width: 100%;" id="operadoraMenuItems">
                                    <option selected="selected">Selecione...</option>
                                </select>
                            </div>
                        </div>
                        <!-- Fim do input comum a todos os usuários -->

                        @switch (perfilUsuarioAtual)
                        {
                            case (byte?)EnumeradorModel.Perfil.Administrador:
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>Gerente</label>
                                        <select class="form-control select2" style="width: 100%;" id="gerenteMenuItems">
                                            <option selected="selected">Selecione...</option>
                                            @foreach (var Item in Model.ListGerente)
                                            {
                                                <option value="@Item.Nome" data-id="@Item.IdUsuario">@(Item.Nome.ToUpper())</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>Supervisor</label>
                                        <select class="form-control select2" style="width: 100%;" id="supervisorMenuItems" disabled>
                                            <option selected="selected">Selecione...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>Corretor</label>
                                        <select class="form-control select2" style="width: 100%;" id="corretorMenuItems" disabled>
                                            <option selected="selected">Selecione...</option>
                                        </select>
                                    </div>
                                </div>
                                break;
                            case (byte?)EnumeradorModel.Perfil.Gerente:
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>Supervisor</label>
                                        <select class="form-control select2" style="width: 100%;" id="supervisorMenuItems">
                                            <option selected="selected" id="0">Selecione...</option>
                                            @foreach (var Item in Model.UsuarioGerente.UsuariosSupervisores)
                                            {
                                                <option value="@Item.Nome" data-id="@Item.IdUsuario">@(Item.Nome.ToUpper())</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>Corretor</label>
                                        <select class="form-control select2" style="width: 100%;" id="corretorMenuItems" disabled>
                                            <option selected="selected">Selecione...</option>
                                        </select>
                                    </div>
                                </div>
                                break;
                            case (byte?)EnumeradorModel.Perfil.Supervisor:
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>Corretor</label>
                                        <select class="form-control select2" style="width: 100%;" id="corretorMenuItems">
                                            <option selected="selected">Selecione...</option>
                                            @foreach (var Item in Model.UsuarioSupervisor.UsuariosCorretores)
                                            {
                                                <option value="@Item.Nome" data-id="@Item.IdUsuario">@(Item.Nome.ToUpper())</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                break;
                            case (byte?)EnumeradorModel.Perfil.Corretor:
                            case (byte?)EnumeradorModel.Perfil.Vendedor:
                            case (byte?)EnumeradorModel.Perfil.Marketing:
                                break;
                        }

                        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
                            <div class="form-group">
                                <label>Data</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right daterange" id="Data" name="Data" value="@Model.DataInicialDefault - @Model.DataFinalDefault">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!-- Inputs comuns a todos os usuários-->
                    <div class="row g-2 justify-content-end">
                        <button type="button" class="col-12 col-sm-12 col-md-auto btn btn-warning" data-toggle="modal" data-target="#modalAbordagem" id="ButtonOpenModalAbordagem">
                            Sugestão de Abordagem
                        </button>
                        <button class="col-12 col-sm-12 col-md-auto mx-0 mx-sm-0 mx-md-2 my-2 my-sm-2 my-md-0 btn btn-info limpar-pesquisa" type="button">Limpar Pesquisa</button>
                        <button class="col-12 col-sm-12 col-md-auto btn btn-primary" id="btnPesquisar" type="button">Pesquisar</button>
                    </div>
                    <!-- Fim dos inputs comuns a todos os usuários -->
                </div>
            </form>
        </div>
    </div>
</section>

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"] @ViewData["Pagina"]</h3>
    </div>
    <!-- /.card-header -->
    <form method="post">
        <div class="card-body">
            <div class="row">
                <p class="text-black text-bold"><u>Dica: Use o botão de rolagem do mouse + SHIFT para navegar para direita e esquerda.</u></p>
                <input type="button" id="btnRedirecionarCadastroLead" class="btn btn-primary ml-auto" style="margin-bottom: 20px" value="Cadastrar Lead" />
                <div class="task-board" style="background-color: #9E2800">
                    @if (Model.ListFaseProposta != null && Model.ListListEntityProposta != null)
                    {
                        @for (int i = 0; i < Model.ListFaseProposta.Count; i++)
                        {
                            FaseProposta fasePropostaAtual = Model.ListFaseProposta[i];
                            List<Proposta> listPropostas = Model.ListListEntityProposta[i].Where(x => x.IdFaseProposta == fasePropostaAtual.IdFaseProposta).ToList();

                            <div class="status-card" style="background-color: @fasePropostaAtual.CorSecundaria; border-radius:2px;">
                                <div class="card" style="background-color: #F15927; color:azure; border-radius:2px;">
                                    <div class="card-header">
                                        <div class="card-header-text text-center">
                                            <span>@fasePropostaAtual.Descricao</span>
                                            @if ((Model.ListListEntityProposta != null) && (Model.ListListEntityProposta.Count > 0))
                                            {
                                                string valorPrevisto = listPropostas.Count > 0 ? listPropostas.Sum(y => y.ValorPrevisto).Value.ToString("c2") : "R$ 0,00";

                                                <div class="text-center" id="total-@fasePropostaAtual.IdFaseProposta">
                                                    <span>@Html.Raw(valorPrevisto)</span>
                                                </div>

                                                <div class="text-center" id="percentual-@fasePropostaAtual.IdFaseProposta">
                                                    @switch (fasePropostaAtual.IdFaseProposta)
                                                    {
                                                        case (byte)(EnumeradorModel.FaseProposta.Oportunidade):
                                                            @Html.Raw("5%");
                                                            break;
                                                        case (byte)(EnumeradorModel.FaseProposta.CotacaoFiltros):
                                                            @Html.Raw("10%");
                                                            break;
                                                        case (byte)(EnumeradorModel.FaseProposta.VisitaApresentacaoReuniao):
                                                            @Html.Raw("11-90%");
                                                            break;
                                                        case (byte)(EnumeradorModel.FaseProposta.ImplantacaoDocumentacao):
                                                            @Html.Raw("95%");
                                                            break;
                                                        case (byte)(EnumeradorModel.FaseProposta.Fechamento):
                                                            @Html.Raw("100%");
                                                            break;
                                                        default:
                                                            @Html.Raw("0%");
                                                            break;
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="status-card" style="background-color: #3E3E3E">
                                    <div class="containerLoad">
                                        <ul class="sortable ui-sortable grupo" id="@("sort" + fasePropostaAtual.IdFaseProposta)" data-status-id="@fasePropostaAtual.IdFaseProposta" data-total="@listPropostas.Sum(y => y.ValorPrevisto).Value.ToString()">
                                            @if (listPropostas.Count > 0)
                                            {
                                                foreach (var ItemProposta in listPropostas)
                                                {
                                                    <li class="text-row ui-sortable-handle" data-task-id="@ItemProposta.IdProposta" data-valorprevisto="@(ItemProposta.ValorPrevisto.HasValue ? ItemProposta.ValorPrevisto.Value.ToString() : (0).ToString())">
                                                        <a asp-page="/NovaProposta" asp-route-id="@System.Web.HttpUtility.UrlEncode(Criptography.Encrypt(ItemProposta.IdProposta.ToString()))" title="Ver Proposta">
                                                            <p class="text-truncate" style="margin-top:10px;" title="@ItemProposta.IdCategoriaNavigation?.IdLinhaNavigation?.IdProdutoNavigation?.Descricao"><strong>@(ItemProposta.IdCategoriaNavigation?.IdLinhaNavigation?.IdProdutoNavigation?.Descricao)</strong></p>
                                                            <hr />
                                                            <p class="text-truncate" title="@ItemProposta.IdClienteNavigation.Nome"><strong>Cliente:</strong> @(ItemProposta.IdClienteNavigation.Nome)</p>
                                                            <p class="text-truncate" title="@(ItemProposta.IdUsuarioCorretorNavigation == null ? "" : ItemProposta.IdUsuarioCorretorNavigation?.Nome)"><strong>Corretor:</strong> @(ItemProposta.IdUsuarioCorretorNavigation == null ? "" : ItemProposta.IdUsuarioCorretorNavigation.Nome)</p>
                                                            <p><strong>Valor Previsto:</strong> <span id="@("ValorPrevisto_" + Model.ListFaseProposta[i].IdFaseProposta + "_" + ItemProposta.IdProposta)">@(ItemProposta.ValorPrevisto.HasValue ? ItemProposta.ValorPrevisto.Value.ToString("c2") : (0).ToString("c2"))</span></p>
                                                            <p><strong>Data:</strong> @ItemProposta.DataCadastro.ToString("dd/MM/yyyy HH:mm:ss")</p>
                                                            <p><strong>Retorno:</strong> @(ItemProposta.ProximoContatoComCliente.HasValue ? ItemProposta.ProximoContatoComCliente.Value.ToString("dd/MM/yyyy HH:mm:ss") : "Não agendado")</p>
                                                            <p><strong>Tempo Decorrido:</strong> @((DateTime.Now - ItemProposta.DataCadastro).Days) dias</p>
                                                            @if (ItemProposta.IdMotivoDeclinioLead != null)
                                                            {
                                                                <p class="" title="@ItemProposta.IdMotivoDeclinioLeadNavigation.Descricao"><strong>Motivo:</strong> @ItemProposta.IdMotivoDeclinioLeadNavigation.Descricao</p>
                                                            }
                                                        </a>
                                                    </li>
                                                }
                                            }
                                            else { <li class="text-row-empty div-blocked" data-task-id="0">Nenhuma Proposta</li> }
                                        </ul>
                                    </div>
                                    <div class="naviLoad">
                                        <div style="display: none; " class="loader infoiLoad">Loading...</div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modalAbordagem" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-warning">
            <div class="modal-header">
                <h4 class="modal-title">Dicas de Abordagem</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-outline-dark">Informações</button>
                <button type="button" class="btn btn-outline-dark">Comparativo Região</button>
                <button type="button" class="btn btn-outline-dark">Suporte na Venda</button>
                <button type="button" class="btn btn-outline-dark">Reembolso</button>

                <p>  </p>
                <p id="AbordagemDescricao"></p>
                <input id="AbordagemOrdem" type="hidden" />

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-dark" id="ButtonAbordagemAnterior" data-id="PREV">Anterior</button>
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-outline-dark" id="ButtonAbordagemProximo" data-id="NEXT">Próximo</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalMotivos" style="display: none;" aria-hidden="true">
    <div class="container">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Motivo da Desistência</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row g-2" hidden>
                            <label for="desejoMenuItem" class="col-12">Gostaria de Receber Novamente essa Oportunidade?</label>
                            <select class="form-control select2 col-6" style="width: 50%" id="desejoMenuItem">
                                <option selected="selected">Selecione...</option>
                                <option>Sim</option>
                                <option>Não</option>
                            </select>
                        </div>
                        <div class="row g-2">
                            <label for="motivoMenuItem" class="col-12">Qual foi o Motivo da Desistência?</label>
                            <select class="form-control select2 col-6" style="width: 50%" id="motivoMenuItem">
                                <option value="0" selected="selected">Selecione...</option>
                                @foreach (var Item in Model.DeclinioLeadSelectMenu)
                                {
                                    <option value="@Item.IdMotivoDeclinioLead">@(Item.Descricao.ToUpper())</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="btnSelecionarMotivoDesistencia">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>