@page
@model CRMYIA.Web.Pages.UploadCapaRedeSocial
@{
    ViewData["Title"] = "Capa Rede Social";
    ViewData["Pagina"] = "Upload";
}
@using CRMYIA.Business.Util;
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Pagina"] @ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <form role="form" id="upload-capa-rede-social" method="post" enctype="multipart/form-data">

                <div class="card-body">

                    <div class="row" id="UploadCapaRedeSoCialMensagemDiv" style="display: none;">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="alert alert-success alert-dismissible" id="UploadCapaRedeSoCialMensagemDivAlert">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <i id="UploadCapaRedeSoCialMensagemIcon" class="icon fas fa-check"></i>
                                    <span id="UploadCapaRedeSoCialMensagemSpan">Dados salvos com sucesso!</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <input type="hidden" id="IdCapa" name="IdCapa" value="0" />
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label>Titulo</label>
                                <input class="form-control" placeholder="Titulo" name="Titulo" id="Titulo">
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="form-group">
                                <label>Campanha</label>
                                <select class="form-control select2" style="width: 100%;"  name="IdCampanha" id="IdCampanha">
                                    <option selected="selected">Selecione...</option>
                                    @foreach (var Item in Model.ListCampanha)
                                    {
                                        <option value="@Item.IdCampanha">@(Item.Descricao)</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Status</label>
                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input type="checkbox" class="custom-control-input" name="Ativo" id="Ativo" checked asp-for="@Model.Entity.Ativo">
                                    <label class="custom-control-label" for="Ativo">Ativo</label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-6 idRedeSocial">
                            <div class="form-group">
                                <label>Selecione uma Rede</label>
                                <select class="form-control select2" style="width: 100%;" name="IdRedeSocial" id="IdRedeSocial" required>
                                    <option selected="selected">Selecione...</option>
                                    @foreach (var Item in Model.ListRedeSocial)
                                    {
                                        <option value="@Item.IdRedeSocial">@(Item.Nome)</option>
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    * O Campo é Obrigatório.
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Cadastrar Rede Social</label>
                                <div class="input-group">
                                    <i title="Cadastrar Rede Social" class="fas fa-plus-circle" data-toggle="modal" data-target="#modalCadastrarRedeSocial"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row btn-adicionar-imagem" style="display: block">
                        <div class="col-sm-12">
                            <span class="btn btn-success fileinput-button dz-clickable my-5">
                                <i class="fas fa-upload"></i>
                                <span> Adicionar Imagens...</span>
                            </span>
                        </div>
                        <div class="col-sm-12">
                            <label>Verificar todas as foto antes de fazer o envio.</label>
                        </div>
                    </div>

                        <div class="table table-striped files" id="imageUpload">
                            <div id="template" class="file-row dz-image-preview">
                                <!-- This is used as the file preview template -->
                                <div>
                                    <span class="preview"><img data-dz-thumbnail></span>
                                </div>
                                <div>
                                    <p class="name" data-dz-name></p>
                                    <strong class="error text-danger" data-dz-errormessage></strong>
                                </div>
                                <div>
                                    <p class="size" data-dz-size></p>
                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                    </div>
                                </div>
                                <div>
                                    @*<button class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start</span>
                    </button>
                    <button data-dz-remove class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>*@
                                    <button data-dz-remove class="btn btn-danger delete">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        <span>Excluir</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                <div class="card-footer salvar-texto" style="display: none">
                    <button type="button" id="btn-salvar-texto" class="btn btn-success">Salvar</button>
                </div>
                <div class="card-footer upload-capa-rede-social">
                    <button type="submit" id="btn-upload-capa-rede-social" class="btn btn-success">Salvar</button>
                    <button type="reset" class="btn btn-default" onclick="javascript:history.go(-1)">Voltar</button>
                </div>
            </form>

            <div id="tableCapaRedeSocial">
                <div class="card-body table-responsive">
                    <table id="tableListagem" class="table table-striped table-hover dt-responsive display nowrap datatable" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Imagem</th>
                                <th>Titulo</th>
                                <th>Cadastro</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Item in Model.ListCapa)
                            {
                                <tr>
                                    <td></td>
                                    <td><img src="@Item.CaminhoArquivo@Item.NomeArquivo" style="max-width: 100px!important;" alt="Capa"></td>
                                    <td>@Item.Titulo</td>
                                    <td>@Item.DataCadastro</td>
                                    <td>@Html.Raw(Item.Ativo == true ? "<span class=\"badge badge-pill badge-success\">ATIVO</span>" : "<span class=\"badge badge-pill badge-warning\">DESATIVADO</span>")</td>
                                    <td>
                                        <span class="btn alterar-titulo" title="Editar Titulo e Rede Social" data-idcapa="@Item.IdCapa"><i class="icon fas fa-edit"></i></span>
                                        <span class="btn alterar-imagem" title="Editar Imagem" data-idcapa="@Item.IdCapa" data-nomearquivo="@Item.NomeArquivo" data-caminho="@Item.CaminhoArquivo"><i class="fas fa-images"></i></span>
                                        <span class="btn excluir-imagem" title="Excluir Imagem" data-idcapa="@Item.IdCapa" data-nomearquivo="@Item.NomeArquivo"><i class="fas fa-trash-alt"></i></span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal Cadastrar Rede Social -->
<div class="modal fade" id="modalCadastrarRedeSocial" tabindex="-1" aria-labelledby="modalCadastrarRedeSocial" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabelCadastrarRedeSocial">Cadastrar Rede Social</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-upload-capa-rede-social">

                <div class="row" id="ModalAlterarImagemMensagemDiv" style="display: none;">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="alert alert-success alert-dismissible" id="ModalAlterarImagemMensagemDivAlert">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i id="ModalAlterarImagemMensagemIcon" class="icon fas fa-check"></i>
                                <span id="ModalAlterarImagemMensagemSpan">Dados salvos com sucesso!</span>
                            </div>
                        </div>
                    </div>
                </div>

                <form role="form" id="cadastrar-upload-capa-rede-social">
                    <div class="row">

                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Nome</label>
                                <input class="form-control" placeholder="Nome" name="NomeRedeSocial" id="NomeRedeSocial">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Status</label>
                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input type="checkbox" class="custom-control-input" name="RedeSocialAtivo" id="RedeSocialAtivo" checked asp-for="@Model.EntityRedeSocial.Ativo">
                                    <label class="custom-control-label" for="RedeSocialAtivo">Ativo</label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer justify-content-between">
                        <button type="button" id="btn-rede-social" class="btn btn-success">Salvar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Modal Alterar Imagem -->
<div class="modal fade" id="modalAlterarImagem" tabindex="-1" aria-labelledby="modalAlterarImagem" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabelAlterarImagem"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-alterar-upload-campanha-generica">

                <div class="row" id="ModalAlterarImagemMensagemDiv" style="display: none;">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="alert alert-success alert-dismissible" id="ModalAlterarImagemMensagemDivAlert">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i id="ModalAlterarImagemMensagemIcon" class="icon fas fa-check"></i>
                                <span id="ModalAlterarImagemMensagemSpan">Dados salvos com sucesso!</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center m-5">
                    <img src="" id="imagem" style="max-width: 300px;" alt="Alterar Imagem" />
                </div>

                <form role="form" id="alterar-upload-capa-rede-social" method="post" enctype="multipart/form-data">

                    <div class="table table-striped files" id="imageUploadAlterar">
                        <div id="template-alterar" class="file-row dz-image-preview">
                            <!-- This is used as the file preview template -->
                            <div>
                                <span class="preview"><img data-dz-thumbnail></span>
                            </div>
                            <div>
                                <p class="name" data-dz-name></p>
                                <strong class="error text-danger" data-dz-errormessage></strong>
                            </div>
                            <div>
                                <p class="size" data-dz-size></p>
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                </div>
                            </div>
                            <div>
                                @*<button class="btn btn-primary start">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Start</span>
                                    </button>
                                    <button data-dz-remove class="btn btn-warning cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancel</span>
                                    </button>*@
                                <button data-dz-remove class="btn btn-danger delete">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Excluir</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

                        <span class="btn btn-success fileinput-alterar dz-clickable my-5">
                            <i class="fas fa-upload"></i>
                            <span> Adicionar Imagens...</span>
                        </span>

                        <button type="submit" id="btn-alterar-upload-capa-rede-social" class="btn btn-primary">Alterar</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>