@using CRMYIA.Business;
@using CRMYIA.Business.Util;
@using System.Security.Claims;
@{ long InputIdUsuarioSlave = 0;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>YIA | @ViewData["Title"] @ViewData["Pagina"]</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="../plugins/daterangepicker/daterangepicker.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="../plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../css/adminlte.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- Jquery UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../css/tasks.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="../../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- fullCalendar -->
    <link rel="stylesheet" href="../plugins/fullcalendar/main.min.css">
    <link rel="stylesheet" href="../plugins/fullcalendar-daygrid/main.min.css">
    <link rel="stylesheet" href="../plugins/fullcalendar-timegrid/main.min.css">
    <link rel="stylesheet" href="../plugins/fullcalendar-bootstrap/main.min.css">
    <!-- datetimepicker -->
    <link rel="stylesheet" href="../plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css" />

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/plugins/sweetAlert2_7.2.0/sweetalert2.min.css">
    <script src="~/plugins/sweetAlert2_7.2.0/sweetalert2.all.min.js"></script>
    <style>
        .tooltip {
            opacity: 1 !important;
        }

        .banners:hover {
            background-color: #E9ECEF;
        }

        .float-open {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 40px;
            border-radius: 50px;
            text-align: center;
            color: #FFF;
            font-size: 30px;
            z-index: 100;
        }

        .float-link {
        }

        .float-chat {
            position: fixed;
            bottom: 40px;
            right: 40px;
            z-index: 100;
        }
        /* table {
            font-size: 1em;
        }*/

        /* .ui-draggable, .ui-droppable {
            background-position: top;
        }*/

        #notificacao-mensagem-tremer {
            /* apenas para dar um formato a div */
            /* animacao */
            animation: tremer .2s;
            animation-iteration-count: infinite;
        }

        /* keyframe para ajustar até onde treme */
        @@keyframes tremer {
            0% {
                margin-left: 0;
            }

            25% {
                margin-left: 15px;
            }

            50% {
                margin-left: 0;
            }

            75% {
                margin-left: -15px;
            }

            100% {
                margin-left: 0;
            }
        }

        #status-usuario li ul {
            position: absolute;
            top: 25px;
            left: 0;
            background-color: #fff;
            display: none;
        }

        #status-usuario li:hover ul, #status-usuario li.over ul {
            display: block;
        }

        #status-usuario {
            flex: 1; /* isto é para a nav ocupar a largura toda menos a logo */
            justify-content: center; /* alinha horizontalmente */
            align-items: center; /* alinha verticalmente */
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    @{

        var identity = (ClaimsIdentity)User.Identity;
        IEnumerable<Claim> Claims = identity.Claims;
        foreach (var t in Claims)
        {
            if (t.Type.Equals("IdUsuarioSlave"))
                 InputIdUsuarioSlave = t.Value.ExtractLong();
        }
    }
    <input type="hidden" id="IdUsuario" name="IdUsuario" value="@Context.User.FindFirst(System.Security.Claims.ClaimTypes.PrimarySid).Value" />
    <input type="hidden" id="InputIdUsuarioSlave" name="InputIdUsuarioSlave" value="@InputIdUsuarioSlave" />
    @*<input type="hidden" id="NumeroDeLinha" name="NumeroDeLinha" value="0" />
        <input type="hidden" id="Limite" name="Limite" value="2712" />*@
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Index" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Logout" class="nav-link">Contato</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            @*<form class="form-inline ml-3">
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Pesquisar" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>*@

            @if (UsuarioModel.GetPerfil(@Context.User.FindFirst(ClaimTypes.PrimarySid).Value.ExtractLong()) != (byte?)EnumeradorModel.Perfil.Corretor)
            {
                List<CRMYIA.Data.Entities.UsuarioHierarquia> ListEntityUsuarioHierarquia = null;

                List<CRMYIA.Data.Entities.UsuarioHierarquia> ListEntityUsuarioHierarquia1 = null;



                ListEntityUsuarioHierarquia = CRMYIA.Business.UsuarioHierarquiaModel.GetAllUsuarioMaster();
                @*@ListEntityUsuarioHierarquia.Where(x => x.IdUsuarioMaster == Context.User.FindFirst(System.Security.Claims.ClaimTypes.PrimarySid).Value.ExtractLong()).OrderBy(y => y.IdUsuarioMaster).FirstOrDefault().IdUsuarioMaster;*@
                @*@ListEntityUsuarioHierarquia.Where(x => x.IdUsuarioMasterNavigation != null && x.IdUsuarioMaster == Context.User.FindFirst(System.Security.Claims.ClaimTypes.PrimarySid).Value.ExtractLong()).Select(x => x).ToList();*@
                if (@ListEntityUsuarioHierarquia != null)
                {

                    @Html.AntiForgeryToken()
                    <div class="col-sm-3 float-right d-block" id="bloco-id-usuario-slave">
                        <div class="input-group input-group-sm">
                            @*<label>Selecione um Usuário</label>*@
                            <select class="form-control select2" style="width: 100%;" id="IdUsuarioSlave">
                                <option selected="selected">Selecione um Usuário</option>
                                @foreach (var Item in @ListEntityUsuarioHierarquia)
                                {
                                    @if (Item.IdUsuarioMasterNavigation != null && Item.IdUsuarioSlaveNavigation != null && Item.IdUsuarioMaster == Context.User.FindFirst(System.Security.Claims.ClaimTypes.PrimarySid).Value.ExtractLong())
                                    {
                                        <option value="@Item.IdUsuarioSlaveNavigation.IdUsuario">@(Item.IdUsuarioSlaveNavigation.Nome)</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3 float-right d-none" id="bloco-button-id-usuario-slave">
                        <button class="btn btn-primary" id="desconectar-usuario">Desconectar do Usuário</button>
                    </div>

                }
             }

                        <!-- Right navbar links -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Messages Dropdown Menu -->
                            <li class="nav-item dropdown notificacao-mensagem">
                                <a class="nav-link" data-toggle="dropdown" href="#">
                                    <i class="far fa-comments"></i>
                                    <span class="badge badge-danger navbar-badge quantidade-notificacao-mensagem"></span>
                                </a>
                                <div id="notificacao-mensagem" class="dropdown-menu dropdown-menu-lg dropdown-menu-right notificacao-mensagem">



                                </div>
                            </li>
                            <!-- Notifications Dropdown Menu -->
                            <li class="nav-item dropdown" id="lista-notificacoes">
                                @*<a class="nav-link" data-toggle="dropdown" href="#">
                                <i class="far fa-bell"></i>
                                <span class="badge badge-warning navbar-badge">15</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                <span class="dropdown-item dropdown-header">15 Notifications</span>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-envelope mr-2"></i> 4 new messages
                                    <span class="float-right text-muted text-sm">3 mins</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-users mr-2"></i> 8 friend requests
                                    <span class="float-right text-muted text-sm">12 hours</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-file mr-2"></i> 3 new reports
                                    <span class="float-right text-muted text-sm">2 days</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                            </div>*@
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" data-toggle="dropdown" href="#">
                                    <i class="far fa-user"></i> @Context.User.Identity.Name
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <span class="dropdown-item dropdown-header">Administrador</span>
                                        </div>
                                        <div class="col-md-7">
                                            <span id="status-usuario">

                                                <ul>
                                                    <li>
                                                        <span class="dropdown-item dropdown-header">Status: <a href="javascript:void(0)" title="Ativo" id="status-link"></a></span>
                                                        <ul class="bg-light" style="border-radius: 5px; border: 1px solid #c0c0c0;">
                                                            <li class="text-left"><a href="javascript:void(0)" onclick="StatusUsuario(0)">Ativo<i class="fa fa-circle text-success"></i></a></li>
                                                            <li class="text-left"><a href="javascript:void(0)" onclick="StatusUsuario(1)">Ausente<i class="fa fa-circle text-warning"></i></a></li>
                                                            <li class="text-left"><a href="javascript:void(0)" onclick="StatusUsuario(2)">Não incomodar<i class="fa fa-circle text-danger"></i></a></li>
                                                            <li class="text-left"><a href="javascript:void(0)" onclick="StatusUsuario(3)">Invisível<i class="fa fa-circle text-white"></i></a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item">
                                        <i class="fa users-cog mr-2"></i> Minha Conta
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="/Logout" class="dropdown-item">
                                        <i class="fas fa-door-closed mr-2"></i>
                                        Sair
                                    </a>
                                </div>
                            </li>
                        </ul>
                </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @{
            List<CRMYIA.Data.Entities.Modulo> ListEntity = null;
            if (Context.Session.GetObjectFromJson<List<CRMYIA.Data.Entities.Modulo>>("MODULO") != null)
            {
                ListEntity = Context.Session.GetObjectFromJson<List<CRMYIA.Data.Entities.Modulo>>("MODULO");
            }
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                @if ((ListEntity != null) && (ListEntity.Count() > 0))
                {
                    <a href="@ListEntity.Where(x => x.IdModuloReferencia == null).OrderBy(y=>y.Ordem).FirstOrDefault().Url" class="brand-link">
                        <img src="../img/logoIn.png"
                             alt="CRM YIA"
                             class="brand-image elevation-3"
                             style="max-height: 23px !important; margin-top:3px !important;">
                        <span class="brand-text font-weight-light">CRM YIA</span>
                    </a>
                }
                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                            @if ((ListEntity != null) && (ListEntity.Count() > 0))
                            {
                                foreach (var ItemMenu in ListEntity.Where(x => x.IdModuloReferencia == null).OrderBy(y => y.Ordem))
                                {
                                    <li class="nav-item has-treeview">
                                        <a href="@ItemMenu.Url" class="nav-link" title="@ItemMenu.ToolTip">
                                            <i class="@ItemMenu.CssClass"></i>
                                            <p>
                                                @(string.IsNullOrEmpty(ItemMenu.Url) ? ItemMenu.Descricao.ToUpper() : ItemMenu.Descricao)
                                                @if (ListEntity.Where(x => x.IdModuloReferencia == ItemMenu.IdModulo).Count() > 0)
                                                {
                                                    <i class="right fas fa-angle-left"></i>
                                                }
                                            </p>
                                        </a>
                                        @if (ListEntity.Where(x => x.IdModuloReferencia == ItemMenu.IdModulo).Count() > 0)
                                        {
                                            <ul class="nav nav-treeview">
                                                @foreach (var ItemSubMenu in ListEntity.Where(x => x.IdModuloReferencia == ItemMenu.IdModulo).OrderBy(y => y.Ordem))
                                                {
                                                    <li class="nav-item">
                                                        <a href="@ItemSubMenu.Url" class="nav-link" title="@ItemSubMenu.ToolTip">
                                                            <i class="@ItemSubMenu.CssClass"></i>
                                                            <p>@ItemSubMenu.Descricao</p>
                                                            @if (ListEntity.Where(x => x.IdModuloReferencia == ItemSubMenu.IdModulo).Count() > 0)
                                                            {
                                                                <i class="right fas fa-angle-left"></i>
                                                            }
                                                        </a>
                                                        @if (ListEntity.Where(x => x.IdModuloReferencia == ItemSubMenu.IdModulo).Count() > 0)
                                                        {
                                                            <ul class="nav nav-treeview">
                                                                @foreach (var ItemSubSubMenu in ListEntity.Where(x => x.IdModuloReferencia == ItemSubMenu.IdModulo).OrderBy(y => y.Ordem))
                                                                {
                                                                    <li>
                                                                        <a href="@ItemSubSubMenu.Url" title="@ItemSubSubMenu.ToolTip"><i class="@ItemSubSubMenu.CssClass"></i>&nbsp;&nbsp;@ItemSubSubMenu.Descricao</a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }

                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>

                                }
                            }

                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>
        }
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" id="pdf-dow">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>@ViewData["Pagina"]</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">@ViewData["Pagina"]</a></li>
                                <li class="breadcrumb-item active">@ViewData["Title"]</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
            <!-- /.content -->
        </div>
        <div id="float-open" class="bg-primary float-open">
            <a class="float-link" href="javascript:void(0)"> <i class="far fa-comments"></i></a>
        </div>

        <!-- DIRECT CHAT -->
        <div id="direct-chat" class="card direct-chat direct-chat-primary d-none float-chat">
            <div class="card-header">
                <h3 id="indentificacao-para" class="card-title"></h3>

                @*<input type="text" class="m-1" name="pesquisa-chat" id="pesquisa-chat" value="" placeholder="Pesquisar" style="border-radius: 0.25rem;" />*@

                <div class="card-tools">
                    <span title="3 New Messages" class="badge badge-primary quantidade-notificacao-mensagem"></span>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool btn-contato" title="Contacts" data-widget="chat-pane-toggle">
                        <i class="fas fa-comments"></i>
                    </button>
                    <button type="button" class="btn btn-tool btn-close" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages chat-body" data-bind="foreach: chatMensagem">

                    @*<div class="direct-chat-msg">
                            <div class="direct-chat-infos clearfix">
                                <span class="direct-chat-name float-left">Alexander Pierce</span>
                                <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                            </div>

                            <img class="direct-chat-img" src="../dist/img/user1-128x128.jpg" alt="Message User Image">

                            <div class="direct-chat-text">
                                Is this template really for free? That's unbelievable!
                            </div>

                        </div>*@

                    <div class="direct-chat-msg" data-bind="css: $data.eMeuPessoaChat() === true ? 'right' : ''">
                        <div class="direct-chat-infos clearfix">
                            <span class="direct-chat-name" data-bind="css: $data.eMeuPessoaChat() === true ? 'float-right' : 'float-left', text: $data.nomePessoaChat"></span>
                            <span class="direct-chat-timestamp text-capitalize" data-bind="css: $data.eMeuPessoaChat() === true ? 'float-left' : 'float-right', text: $data.dataCadastroPessoaChat"></span>
                        </div>
                        <!-- /.direct-chat-infos -->
                        <img class="direct-chat-img" src="img/fotoCadastro/foto-cadastro.jpeg" data-bind="attr:{src: $data.imagemPessoaChat}" alt="Message User Image">
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text" data-bind="text: $data.mensagemPessoaChat">

                        </div>
                        <!-- /.direct-chat-text -->
                    </div>

                </div>
                <!--/.direct-chat-messages-->
                <!-- Contacts are loaded here -->
                <div class=" direct-chat-contacts">
                    <ul id="lista-usuario" class="contacts-list" data-bind="foreach: filteredChatUsers, event: { scroll: barraListaUsuario }">
                        <li class="idusuario-para" data-bind="click: $parent.buscarContato, attr: {'data-idusuario': $data.idUsuario}">
                            <div data-bind="if: $data.mensagem">
                                <input type="hidden" class="nome" data-bind="value: $data.nome" />

                                <a href="javascript:void(0)">
                                    <i class="fa fa-circle" data-bind="css: $data.logado"></i> <span class="text-decoration-none font-weight-bolder text-white" data-bind="text: $data.nome"></span>
                                    <img class="contacts-list-img" data-bind="attr:{src: $data.imagem}" alt="User Avatar">

                                    <div class="contacts-list-info">
                                        @*<span class="contacts-list-name" data-bind="text: $data.nome"></span>*@
                                        <span class="contacts-list-date float-right" data-bind="text: $data.dataMensagem"></span>
                                        <span class="contacts-list-msg" data-bind="text: $data.mensagem"></span>
                                    </div>
                                    <!-- /.contacts-list-info -->
                                </a>
                                @*<span href="javascript:void(0)" data-bind="ifnot: $parent.eNulo()">Null</span>*@
                            </div>
                            <div class="container text-center" data-bind="ifnot: $data.mensagem">
                                <span><img class="img-circle text-center" width="40" height="40" data-bind="attr:{src: $data.imagem}" alt="" /></span><br />
                                <span>Clique e Envie uma Mensagem para </span><br />
                                <span class="text-center" data-bind="text: $data.nome"></span>
                            </div>
                        </li>
                        <!-- End Contact Item -->
                    </ul>
                    <!-- /.contacts-list -->
                </div>
                <!-- /.direct-chat-pane -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <form data-bind="event: { submit: pesquisarNomeUsuario }">
                    <div class="d-none input-group" id="pesquisar">
                        <input type="text" name="PesquisaNome" id="PesquisaNome" data-bind="value:pesquisaNome" placeholder="Pesquisar Contato..." class="form-control">
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-primary btn-enviar-pesquisar">Pesquisar</button>
                        </span>
                    </div>
                </form>
                <form data-bind="event: { submit: enviarMensagem }">
                    <div class="input-group" id="mensagem">
                        <input type="hidden" name="Para" id="Para" value="" />
                        <input type="hidden" name="De" id="De" value="" />
                        <input type="hidden" name="Nome" id="Nome" value="" />
                        <input type="hidden" name="Url" id="Url" value="" />
                        <input type="text" name="Mensagem" id="Mensagem" placeholder="Digite uma mensagem..." class="form-control">
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-primary btn-enviar-mensagem">Enviar</button>
                        </span>
                    </div>
                </form>
            </div>
            <!-- /.card-footer-->
        </div>
        <!--/.direct-chat -->
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year.ToString() <a href="http://www.yia.com.br">YIA</a>.</strong> Todos os direitos reservados.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Notificação -->
        <audio controls id="notificacao" style="display: none;">
            <source id="sound1" src="~/audio/notificacao.ogg" type="audio/ogg">
            <source id="sound2" src="~/audio/notificacao.mp3" type="audio/mpeg">
        </audio>

        <!-- Receber Mensagem -->
        <audio controls id="receber-mensagem" style="display: none;">
            <source id="sound1" src="~/audio/receber-mensagem.ogg" type="audio/ogg">
            <source id="sound2" src="~/audio/receber-mensagem.mp3" type="audio/mpeg">
        </audio>

    </div>
    <partial name="_BusyIndicatorPartial" />
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="../plugins/jquery/jquery.min.js"></script>
    <!-- Jquery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="../plugins/select2/js/select2.full.min.js"></script>
    <!-- DataTables -->
    <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="../plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- jquery-validation -->
    <script src="../plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="../plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- jquery-inputmask -->
    <script src="../plugins/jquery-inputmask/jquery.inputmask.js"></script>
    <script src="../plugins/jquery-inputmask/jquery.inputmask.date.extensions.js"></script>
    <script src="../plugins/jquery-inputmask/jquery.inputmask.numeric.extensions.js"></script>
    <script src="../plugins/jquery-inputmask/jquery.inputmask.phone.extensions.js"></script>
    <script src="../plugins/jquery-inputmask/jquery.inputmask.regex.extensions.js"></script>
    <script src="../plugins/jquery-inputmask/jquery.mask.min.js"></script>
    <!-- InputMask -->
    <script src="../plugins/moment/moment.min.js"></script>
    <script src="../plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- bootstrap color picker -->
    <script src="../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- date-range-picker -->
    <script src="../plugins/daterangepicker/daterangepicker.js"></script>
    <!-- tempus dominus datetimepicker -->
    <script src="../plugins/moment/moment-with-locales.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- fullCalendar 2.2.5 -->
    <script src="../plugins/fullcalendar/main.min.js"></script>
    <script src="../plugins/fullcalendar-daygrid/main.min.js"></script>
    <script src="../plugins/fullcalendar-timegrid/main.min.js"></script>
    <script src="../plugins/fullcalendar-interaction/main.min.js"></script>
    <script src="../plugins/fullcalendar-bootstrap/main.min.js"></script>
    <script src='../plugins/fullcalendar/locales/pt-br.js'></script>


    @if (ViewData["Pagina"].ToString().ToUpper().Equals("VISITAS"))
    {
        <script src="../plugins/popper/unpkg-popper.min.js"></script>
        <script src="../plugins/tooltip/tooltip.min.js"></script>
        <script src="../js/CalendarVisit.js"></script>
    }
    <!-- Page specific script -->
    <!-- AdminLTE App   -->
    <script src="../js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../js/demo.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="../plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="../plugins/raphael/raphael.min.js"></script>
    <script src="../plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="../plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="../plugins/chart.js/Chart.min.js"></script>
    <!--Notificações-->
    <script src="~/js/signalr/signalr.min.js"></script>
    <script src="~/js/notificacao/notificacao.js" asp-append-version="true"></script>
    <script src="~/js/notificacao/chat.js" asp-append-version="true"></script>
    <script src="~/js/knockout/knockout-latest.js"></script>
    <!--Geral-->
    <script src="~/js/sistema/geral.js"></script>
    <!-- PAGE SCRIPTS -->
    @if (ViewData["Title"].ToString().ToUpper().Equals("DASHBOARD"))
    {
        <script src="../js/pages/dashboard2.js"></script>
        <script src="~/js/jsPdf/jspdf.min.js"></script>
        <script src="~/js/canvas2image/canvas2image.min.js"></script>
    }
    @if (ViewData["Pagina"].ToString().Equals("Funil de Vendas"))
    {
        <script src="../js/sistema/tarefa.js"></script>
        <script src="~/js/sistema/numeral.min.js"></script>
    }

    @if (ViewData["Pagina"].ToString().Equals("Marketing"))
    {
        <!-- jQuery UI -->
        <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
        <!-- Ekko Lightbox -->
        <script src="~/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
        <!-- Filterizr-->
        <script src="~/plugins/filterizr/jquery.filterizr.min.js"></script>
    }

    <script src="../js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
