@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section CSS {
    <link href="~/css/landingPage.css" rel="stylesheet" />
}
@section Scripts {

    <script src="~/js/landingPage.js"></script>
}
<div id="menu-wrap" class="menu-back cbp-af-header">
    <div class="container">
        <div class="sixteen columns">
            <div class="logo"></div>
            <ul class="slimmenu">
                <li>
                    <a class="scroll" href="#home">Principal</a>
                </li>
                <li>
                    <a class="scroll" href="#contact">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="home">
    <div class="small-text"><div class="cl-effect-5"><a class="scroll" href="#work"><span data-hover="portfolio">portfolio</span></a> <a class="scroll" href="#contact"><span data-hover="contact">contact</span></a></div></div>
    <div class="social-top">
        <ul class="list-social">
            <li class="icon-soc tipped" data-title="twitter" data-tipper-options='{"direction":"top","follow":"true"}'>
                <a href="#">&#xf099;</a>
            </li>
            <li class="icon-soc tipped" data-title="facebook" data-tipper-options='{"direction":"top","follow":"true"}'>
                <a href="#">&#xf09a;</a>
            </li>
            <li class="icon-soc tipped" data-title="github" data-tipper-options='{"direction":"top","follow":"true"}'>
                <a href="#">&#xf09b;</a>
            </li>
            <li class="icon-soc tipped" data-title="google +" data-tipper-options='{"direction":"top","follow":"true"}'>
                <a href="#">&#xf0d5;</a>
            </li>
        </ul>
    </div>

    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- THE FIRST SLIDE -->

                <li data-transition="fade" data-slotamount="1" data-masterspeed="400">
                    <img src="~/lib/template/images/1.jpg" alt="" />
                    <div class="just_pattern"></div>

                    <!-- THE CAPTIONS IN THIS SLIDE -->
                    <div class="caption big-text lft ltt"
                         data-x="center"
                         data-y="center"
                         data-speed="500"
                         data-start="500"
                         data-easing="easeOutExpo">
                        <div class="big-text"><span>we are YIA</span></div>
                    </div>
                </li>

                <!-- THE SECOND SLIDE -->

                <li data-transition="fade" data-slotamount="1" data-masterspeed="400">
                    <img src="~/lib/template/images/2.jpg" alt="" />
                    <div class="just_pattern"></div>
                    <div class="caption big-text lft ltt"
                         data-x="center"
                         data-y="center"
                         data-speed="500"
                         data-start="500"
                         data-easing="easeOutExpo"><div class="big-text"><span>BORN INTO CREATIVITY</span></div></div>

                </li>

                <!-- THE THIRD SLIDE -->

                <li data-transition="fade" data-slotamount="1" data-masterspeed="400">
                    <img src="~/lib/template/images/3.jpg" alt="" />
                    <div class="just_pattern"></div>

                    <!-- THE CAPTIONS IN THIS SLDIE -->
                    <div class="caption big-text lft ltt"
                         data-x="center"
                         data-y="center"
                         data-speed="500"
                         data-start="500"
                         data-easing="easeOutExpo"><div class="big-text"><span>FOCUSED ON STRATEGY</span></div></div>

                </li>
            </ul>
        </div>
    </div>
    <a class="scroll" href="#contact"><div class="scroll-btn tipped" data-title="Entre em contato" data-tipper-options='{"direction":"top","follow":"true"}'></div></a>
</div>

<div id="contact">
    <div class="container">
        <div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
            <div class="header-text">
                <div class="header-shadow-text">Contato</div>
                <h1 style="color:#EE5C25">Contato</h1>
                <p>Encontre o melhor Plano de Saúde para você, sua família ou sua empresa.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @if ((Model != null) && (Model.Mensagem != null))
                    {
                        <div class="@Model.Mensagem.CssClass alert-dismissible">
                            <button type="button" class="close right" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="@Model.Mensagem.IconClass"></i>
                            @Model.Mensagem.Mensagem
                        </div>}
                </div>
            </div>
        </div>
        <form action="" method="post">
            <div class="row">
                <p>Como podemos te ajudar?</p>
            </div>
            <div class="row text-align-center">
                <div class="col-sm-2">
                    <label><input type="checkbox" id="seguroAuto"><span class="label">Seguro Auto</span></label>
                </div>
                <div class="col-sm-2">
                    <label><input type="checkbox" id="seguroVida"><span class="label">Seguro de Vida</span></label>
                </div>
                <div class="col-sm-2">
                    <label><input type="checkbox" id="planoSaude"><span class="label">Plano de Saúde</span></label>
                </div>
                <div class="col-sm-2">
                    <label><input type="checkbox" id="seguroResidencial"><span class="label">Seguro Residencial</span></label>
                </div>
                <div class="col-sm-2">
                    <label><input type="checkbox" checked id="outrosSeguros"><span class="label">Outros Seguros</span></label>
                </div>
            </div>

            <div class="d-none">
                <input type="checkbox" class="custom-control-input" id="switchVoce" asp-for="@Model.Entity.Individual">
                <input type="checkbox" class="custom-control-input" id="switchFamilia" asp-for="@Model.Entity.Familiar">
                <input type="checkbox" class="custom-control-input" id="switchEmpresa" asp-for="@Model.Entity.Empresarial">
                <input type="checkbox" class="custom-control-input" id="switchPlano" asp-for="@Model.Entity.PossuiPlano">
                <input type="checkbox" class="custom-control-input" id="switchCarro" asp-for="@Model.Entity.PossuiVeiculo">
                <input type="checkbox" class="custom-control-input" id="switchBuscaCarro" asp-for="@Model.Entity.BuscaVeiculo">
                <input type="checkbox" class="custom-control-input" id="switchCnpj" asp-for="@Model.Entity.PossuiCNPJ">
            </div>

            <div id="rowTipo" class="row d-none">
                <div id="divTipo1" class="col-sm-4 selecionado">
                    <label for="CTRLswitchVoce">Para você</label>
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" id="CTRLswitchVoce" checked>
                        <label class="custom-control-label" for="CTRLswitchVoce">Individual</label>
                    </div>
                </div>
                <div id="divTipo2" class="col-sm-4">
                    <label for="CTRLswitchFamilia">Para sua Família</label>
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" id="CTRLswitchFamilia">
                        <label class="custom-control-label" for="CTRLswitchFamilia">Familiar</label>
                    </div>
                </div>
                <div id="divTipo3" class="col-sm-4">
                    <div class="form-group">
                        <label for="CTRLswitchEmpresa">Para sua Empresa</label>
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                            <input type="checkbox" class="custom-control-input" id="CTRLswitchEmpresa">
                            <label class="custom-control-label" for="CTRLswitchEmpresa">Empresarial</label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rowResidencial" class="row d-none">
                <div id="divResidencialVoce" class="col-sm-6 selecionado">
                    <label for="CTRLswitchResidencialVoce">Para você</label>
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" id="CTRLswitchResidencialVoce" checked>
                        <label class="custom-control-label" for="CTRLswitchResidencialVoce">Individual</label>
                    </div>
                </div>
                <div id="divResidencialEmpresa" class="col-sm-6">
                    <div class="form-group">
                        <label for="CTRLswitchResidencialEmpresa">Para sua Empresa</label>
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                            <input type="checkbox" class="custom-control-input" id="CTRLswitchResidencialEmpresa">
                            <label class="custom-control-label" for="CTRLswitchResidencialEmpresa">Empresarial</label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rowPlanoLabel" class="row d-none">
                <p>Tem plano de saúde atualmente?</p>
            </div>
            <div id="rowPlano" class="row d-none">
                <div id="divPlanoSim" class="col-sm-3">
                    <label for="CTRLswitchSimPlano">Sim</label>
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" id="CTRLswitchSimPlano">
                        <label class="custom-control-label" for="CTRLswitchSimPlano">Sim</label>
                    </div>
                </div>
                <div id="divPlanoNao" class="col-sm-3 selecionado">
                    <label for="CTRLswitchNaoPlano">Não</label>
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" id="CTRLswitchNaoPlano" checked>
                        <label class="custom-control-label" for="CTRLswitchNaoPlano">Não</label>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>Qual o numero de pessoas?</label>
                        <input type="text" class="form-control" id="txtVidas" placeholder="0" asp-for="@Model.Entity.Vidas">
                    </div>
                </div>
            </div>
            <div id="rowPossuiCarroLabel" class="row d-none">
                <p>Possui veiculo atualmente?</p>
            </div>
            <div id="rowPossuiCarro" class="row d-none">
                <div id="divPossuiCarroSim" class="col-sm-6">
                    <label for="CTRLswitchSimCarro">Sim</label>
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" id="CTRLswitchSimCarro">
                        <label class="custom-control-label" for="CTRLswitchSimCarro">Sim</label>
                    </div>
                </div>
                <div id="divPossuiCarroNao" class="col-sm-6 selecionado">
                    <label for="CTRLswitchNaoCarro">Não</label>
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" id="CTRLswitchNaoCarro" checked>
                        <label class="custom-control-label" for="CTRLswitchNaoCarro">Não</label>
                    </div>
                </div>
            </div>
            <div id="rowBuscaCarroLabel" class="row d-none">
                <p>Busca ou pesquisa sobre veiculo atualmente?</p>
            </div>
            <div id="rowBuscaCarro" class="row d-none">
                <div id="divBuscaCarroSim" class="col-sm-6">
                    <label for="CTRLswitchSimBuscaCarro">Sim</label>
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" id="CTRLswitchSimBuscaCarro">
                        <label class="custom-control-label" for="CTRLswitchSimBuscaCarro">Sim</label>
                    </div>
                </div>
                <div id="divBuscaCarroNao" class="col-sm-6 selecionado">
                    <label for="CTRLswitchNaoBuscaCarro">Não</label>
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" id="CTRLswitchNaoBuscaCarro" checked>
                        <label class="custom-control-label" for="CTRLswitchNaoBuscaCarro">Não</label>
                    </div>
                </div>
            </div>
            <div id="rowProfLabel" class="row d-none">
                <p>Qual sua profissão atualmente?</p>
            </div>
            <div id="rowProf" class="row d-none">
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>Sua profissão</label>
                        <input type="text" class="form-control" id="txtProfissao" placeholder="Profissão" asp-for="@Model.Entity.Profissao">
                    </div>
                </div>
            </div>
            <div id="rowCnpjLabel" class="row d-none">
                <p>Você ou alguém da família tem um CNPJ ativo?</p>
            </div>
            <div id="rowCnpj" class="row d-none">
                <div id="divCnpjSim" class="col-sm-6">
                    <label for="CTRLswitchSimCnpj">Sim</label>
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" id="CTRLswitchSimCnpj">
                        <label class="custom-control-label" for="CTRLswitchSimCnpj">Sim</label>
                    </div>
                </div>
                <div id="divCnpjNao" class="col-sm-6 selecionado">
                    <label for="CTRLswitchNaoCnpj">Não</label>
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" id="CTRLswitchNaoCnpj" checked>
                        <label class="custom-control-label" for="CTRLswitchNaoCnpj">Não</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <p>Agora precisamos dos seus dados de contato para enviar a cotação:</p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Nome Completo</label>
                        <input type="text" class="form-control" id="minValor" placeholder="Nome..." asp-for="@Model.Entity.Nome">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" id="minValor" placeholder="exemplo@email.com" asp-for="@Model.Entity.Email">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Telefone</label>
                        <input type="text" class="form-control" id="minValor" placeholder="11 9 9999 - 8888" asp-for="@Model.Entity.Telefone">
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn text-center btn-edited">Enviar Simulação</button>
            </div>
        </form>
    </div>
    <div id="logos">
        <div class="container text-align-center">
            <div class="container">
                <div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
                    <div class="header-text">
                        <div class="header-shadow-text">Parceiros</div>
                        <h1 style="color:#EE5C25">Parceiros</h1>
                        <p style="color:#EE5C25; font-weight:bold; font-size:22px;">Empresas consagradas no mercado que confiam na YIA para tornar SEGUROS acessíveis a todos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact">
        <div class="container text-align-center">
            <div class="row" style="background-color:#ffffff">
                <div class="col-sm-2 tumb-parceiro">
                    <img class="responsive" src="/lib/template/images/logos/1.png" alt="" />
                </div>
                <div class="col-sm-2 tumb-parceiro">
                    <img class="responsive" src="/lib/template/images/logos/2.png" alt="" />
                </div>
                <div class="col-sm-2 tumb-parceiro">
                    <img class="responsive" src="/lib/template/images/logos/3.png" alt="" />
                </div>
                <div class="col-sm-2 tumb-parceiro">
                    <img class="responsive" src="/lib/template/images/logos/4.png" alt="" />
                </div>
                <div class="col-sm-2 tumb-parceiro">
                    <img class="responsive" src="/lib/template/images/logos/5.png" alt="" />
                </div>
                <div class="col-sm-2 tumb-parceiro">
                    <img class="responsive" src="/lib/template/images/logos/6.png" alt="" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 tumb-parceiro">
                    <img class="responsive" src="/lib/template/images/logos/7.png" alt="" />
                </div>
                <div class="col-sm-2 tumb-parceiro">
                    <img class="responsive" src="/lib/template/images/logos/8.png" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="eight columns" data-scrollreveal="enter left and move 150px over 1s">
        <div class="contact-wrap">
            <p><span style="color:#EE5C25">Corretor:</span> @Model.Corretor.Nome </p>
            <p><span style="color:#EE5C25">Email:</span> @Model.Corretor.Email </p>
            <p><i class="icon-contact1">&#xf095;</i><span style="color:#EE5C25">Entre em contato:</span> @Model.Corretor.Telefone <small><em>Segunda à Sexta | 09:00–18:00</em></small></p>
        </div>
    </div>
    <div class="eight columns" data-scrollreveal="enter right and move 150px over 1s">
        <div class="contact-wrap">
            <p><i class="icon-contact1">&#xf041;</i><span style="color:#EE5C25">Nos encontre em:</span> R. Barão de Itapetininga, 125 - 6 andar - Centro Histórico de São Paulo, São Paulo - SP, 01042-001</p>
        </div>
    </div>
    <div class="sixteen columns" data-scrollreveal="enter bottom and move 150px over 1s">
        <a class="button-map close-map"><span style="color:#EE5C25">Nos localize no mapa</span></a>
    </div>

    <div id="google_map"></div>
</div>



